[2016-07-06 17:30] fbrnc opened #2 "Create user on the fly?"
Hi Michael,

excellent [blog post](https://cloudonaut.io/manage-aws-ec2-ssh-access-with-iam/) and thanks for sharing this idea including the code!

I was wondering why you're importing all users (and updating them every 10min). Since you're already running a custom script with `AuthorizedKeysCommand` couldn't you at that point look up if that user exists in IAM and has a public key and only then c

[2016-07-07 06:56] michaelwittig opened #3 "Remove special characters before creating the user"
IAM users can have special chars like @ in their names.

allowed characters for IAM usernames are:

But this is not allowed for Linux users.

the POSIX ("Portable Operating System Interface for Unix") standard (IEEE Standard 1003.1 2008) states:

3.278 Portable Filename Character Set

The set of characters from which portable filenames are constructed.

Characters that are allowed in IAM user name

[2016-07-07 07:00] michaelwittig commented on #2
Hi and thanks for your feedback.

unfortunately yes. The command is only executed if sshd finds the user locally.

Regarding on-demand user creation: It could be possible to create the users on-demand using PAM but I haven't tried it.

Regarding group management: Your idea sounds fine.

Regarding special characters: I opened issue #3 to fix it.

[2016-08-19 01:04] uberbrady opened #5 "Consider documenting 'limits'?"
I absolutely _love_ this solution, it's what I've been looking for for literally _years_.

I am wondering what its limits are. I'm going to be setting it up for along the lines of 5 users or less - not going too nuts. And not on too many servers, either. I think it'll fit there just fine.

But I can imagine if you have, like 100 users or something - it might start to suck there (all those users ge

[2016-08-19 13:53] michaelwittig commented on #5
Hi @uberbrady

I agree with you that documenting the limitations is a good idea. My thoughts:

**regarding API limits**

* the import_users.sh script runs every 10 minutes and issues one API request for every 500 users multiplied by the number of servers. But I'm not aware of n official/documented API rate limit for the IAM service.
* the authorized_keys_command.sh script runs whenever a user logs

[2016-08-30 23:26] uberbrady commented on #5
The other ones I can think of - if you had an `/etc/skel` that was, let's say, hefty for some reason - (10's of MB; pretty unusual). Then every time you add another user to IAM, this solution would stamp out another 10 megs for that user - even users who might never end up logging in. So - say 5000 IAM users, 10 megs of each - 50,000 MB's of storage used up - around 50GB. Lots of AWS boxes have 8G

[2016-09-14 16:45] jonleighton commented on #2
Hello, thanks for this. It looks like someone else also had a similar idea with https://github.com/kislyuk/keymaker. Obviously it's a bit more complex being a Python project. I did notice that it can hook into PAM to create the account on the fly, though.

[2016-09-15 11:02] michaelwittig commented on #2
@jonleighton That looks promising.

I guess the interesting parts are:
* https://github.com/kislyuk/keymaker/blob/7d07f8532861421e522fbea9a8a4ada6800d4eff/keymaker/__init__.py#L120
* https://github.com/kislyuk/keymaker/blob/7d07f8532861421e522fbea9a8a4ada6800d4eff/scripts/keymaker-create-account-for-iam-user

[2016-09-17 11:26] jonleighton commented on #2
FWIW, I ended up not using keymaker in the end as various things didn't work in my situation, and it was hard to customise. I went with an approach inspired by this project, which meant that it was a lot easier to tailor the solution to my needs. I didn't do the PAM hook at all - in reality we add new users very rarely, so having a wait a minute for the addition to take effect is not a big deal.

[2016-11-16 04:54] bradpeczka opened #8 "Strip special characters from sudoers.d filenames"
Per [http://www.sudo.ws/man/1.8.13/sudoers.man.html](http://www.sudo.ws/man/1.8.13/sudoers.man.html):

This has an unintended side effect for IAM users that follow a first name.lastname naming convention - assuming John Smith has a username of john.smith, `import_user.sh` creates a file of `/etc/sudoers.d/john.smith` which is then ignored by sudo, and the user is prompted for a password when sudoi

[2016-11-16 06:36] michaelwittig commented on #8
first of all: good catch :)

allowed characters for IAM usernames are:

So the `~` is not a problem.

What about the case where we have two users in IAM like this:
* michaelwittig
* michael.wittig

This will end in a problem if we only remove the `.`. I suggest to not remove the `.` character, but replace it with a character that is not allowed in IAM usernames at all. I suggest `$`

What do you t

[2016-11-16 06:49] bradpeczka commented on #8
I think the use of the `$` character would cause other issues given it's commonly used to define variables in scripts.

Perhaps consider the `^` character instead?

[2016-11-16 11:05] bradpeczka commented on #8
It's also worth noting that this appears to be a moot issue if pull request #7 from @bobziuchkovski is merged.

Thanks also for the project and effort... my team is only just starting to explore AWS, but we're looking to do it right from day 1, and SSH/IAM integration is top of our list!

[2016-12-02 00:34] mrjk05 opened #9 "Add this to an existing EC2 Instnace"
This is a great little cloudformation template.
Was wondering how to change it to apply to a bastion host or any particular EC2 host rather than creating an EC2 during the formation script?

[2016-12-02 06:48] michaelwittig commented on #9
@uberbrady created a nice little installer bash script to do that: https://github.com/widdix/aws-ec2-ssh/blob/master/install.sh
just run it on the instance and you are setted up :)

[2016-12-02 07:27] mrjk05 commented on #9
thanks, i ran that script and keep getting the following error (btw had to install git)

`Unable to locate credentials. You can configure credentials by running "aws configure"`

Even though all the credentials in IAM are setup with public keys etc as per your post.

[code]

[2016-12-02 07:29] michaelwittig commented on #9
Your EC2 instances needs access to get the list of iam users. If the EC2 instance has an instance profile, add the following policy to the role of the instance_
https://github.com/widdix/aws-ec2-ssh/blob/master/iam_ssh_policy.json

[2016-12-02 07:39] mrjk05 commented on #9
Thanks!! Works perfect.

To summarise:
1. Setup IAM for each user and upload the public key
2. Apply the IAM SSH Policy - https://github.com/widdix/aws-ec2-ssh/blob/master/iam_ssh_policy.json
3. Run the script 👍

[2016-12-02 07:54] michaelwittig commented on #9
it's all in the readme:
https://github.com/widdix/aws-ec2-ssh#how-to-integrate-this-system-into-your-environment-non-cloudformation

[2016-12-02 07:54] #9 closed

[2016-12-02 07:55] #2 closed

[2016-12-02 08:20] michaelwittig commented on #5
@uberbrady I admit that this was not my fastest response this year: I added the limitations to the README.

[2016-12-02 08:20] #5 closed

[2016-12-02 08:27] #8 closed

[2016-12-02 08:27] michaelwittig commented on #8
I now replace the `.` with an ` ` should be less confusing thatn `$` or `^`

[2016-12-02 08:49] #3 closed

[2016-12-08 07:29] mrjk05 opened #10 "Does this work for Ubuntu AMIs?"
Im trying to retro fit this for an ubuntu AMI, however when the script runs import_users.sh it fails as a result of the ubuntu user creation process.

This script works fine for Amazon Linux installs.

Is there any updates for an ubuntu AMI?

[2016-12-08 07:35] andreaswittig commented on #10
@mrjk05 If you need Ubuntu, for whatever reason, please update the scripts and send an PR.

[2016-12-08 07:35] #10 closed

[2017-01-28 05:34] obenziane2 opened #11 "Control sudo access"
How would this control sudo access for non-admin users ?

[2017-01-28 08:32] michaelwittig commented on #11
it will not control sudo access. we recommend to not allow any user to sudo on the bastion host.

[2017-02-02 11:40] shinenelson commented on #11
@michaelwittig This issue can be closed since pull request #13 disables `sudo` by default.

[2017-02-02 11:42] shinenelson commented on #10
@mrjk05 The script has been updated to support debian-based systems. Maybe you can try again with the updated scripts.

[2017-02-02 12:32] #11 closed

[2017-02-23 13:34] mvanbaak opened #21 "Use IAM accounts from another AWS account"
Consider the following setup:
- one AWS account (lets call it management) which has all IAM users etc
- multiple AWS accounts (test, staging, production) running EC2 instances

Can you provide any pointers in how we should get the users from the management account on instances in the test/staging/production account?

This way we can manage all users in one account, while using them in many. (follo

[2017-02-23 13:43] michaelwittig commented on #21
1. Create a IAM role in the account with the users. Assign the policies mentioned here https://github.com/widdix/aws-ec2-ssh/blob/master/iam_ssh_policy.json and assign a trust relationship to the other accounts as described here: http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-sharing-logs-third-party.html
2. in the authorized_keys_command.sh and the import_user.sh script assu

[2017-02-23 13:50] mvanbaak commented on #21
Thanks for the super quick reply. Going to test it right away

[2017-02-23 13:52] michaelwittig commented on #21
one thing I forgot: the ec2 instances must be allowed to call the `sts:AssumeRole` action

let me know if it works. I guess this would be interesting for other people as well.

[2017-02-23 14:02] mvanbaak commented on #21
Import_users.sh tested: works.

I'm testing the scripts without provisioning them at the moment as I will need to fold this into our cf templates.
I'll now manually setup the sshd authorized_keys_command thing to test that part as well. But I think it will work based on the success in the import_users.sh

[2017-02-23 15:22] mvanbaak commented on #21
BAM, works! Thanks a lot for your help!

[2017-02-23 19:48] mvanbaak commented on #21
I'll cook up a version for my needs and show you what I got. Maybe if I have enough time I can create a nice pr, if not I'll point you to my implementation and you can pick from it if you want ;-)

(sorry, too many things to do in too little time, cant promise to be a good citizen and create a PR)

[2017-03-27 14:54] michaelwittig opened #27 "SaveUserName must be Unsave in authorized_keys_command"
Instead of

[code]

the username must be changed in the opposite direction:

[code]

(reported via email

[2017-03-28 12:58] mvanbaak commented on #27
Good one ;-)

[2017-03-28 15:32] michaelwittig opened #28 "v1.0 discussions"
So this project got a bit messy because of me not merging stuff fast enough. I would like to get this project back on track. So let's discuss how we continue @shinenelson, @mvanbaak, and @dylansmith

What we have:

* Multi Account functionality: #22  already as a feature issue here #21
* Use IAM Groups to manage access: we have quiet a few implementations here
  *#23 Downside, slower because group

[2017-03-28 17:05] dylansmith commented on #28
I'm fine with whatever you all decide - I've moved to using SSH CA instead so I'm not impacted by the decision.

[2017-03-29 08:11] mvanbaak commented on #28
I know my PR is huge. Sorry for that ;-) And I was already expecting it too invasive to be merged as-is, but wanted to be a good citizen and provide it anyways.

The suggestions look good.

If you want I can quickly make a PR for issue #27 alone so it's easier to merge.

The part where the users are deleted if they no longer are member of a group that should access, is something I would personally

[2017-03-29 12:40] michaelwittig commented on #28
A PR for #27 would be great 👍🏻

[2017-03-30 08:16] #27 closed

[2017-04-02 13:42] mvanbaak commented on #28
Another item that could go on the 1.X list:

* Make a single script which can handle both syncing the users as well as getting the key.

So for example: `ssh-iam-check syncusers` and `ssh-iam-check checksshkey`
The main reason for this is that we start to duplicate code in both sh scripts now (iam assumerole, probably later the group permission thing, and possibly others in the future)

Just a tho

[2017-04-03 15:44] shinenelson commented on #28
IMO, we should merge #24 and close all the other minor pull requests. #24 has implemented all of them in a single pull request and the code looks consistent. I just did a complete code review and everything should work fine as expected.

[2017-04-03 15:55] mvanbaak commented on #28
Thanks for the review and the nice words. As I said the code is taken from some forks and I cleaned up/rewrote the things here and there to make it easier to understand.

As much as I would like to see it merged its up to @michaelwittig to choose.

I do however agree that it will be easier to maintain as things are split up in logical functions

[2017-04-04 12:02] michaelwittig commented on #21
merged into master

[2017-04-04 12:02] #21 closed

[2017-04-04 12:05] michaelwittig opened #30 "v1.x discussions"
My suggestion for the future v1.x:

implement a the better management of local users
* [ ] uuid (see #46)
* [x] local groups (implemented by `LOCAL_GROUPS` option)
* [x] shell etc etc (implemented by #39 )
* [ ] Make a single script which can handle both syncing the users as well as getting the key. @mvanbaak here https://github.com/widdix/aws-ec2-ssh/issues/28#issuecomment-290987200

[2017-04-04 12:06] michaelwittig commented on #30
as mentioned by @mvanbaak here https://github.com/widdix/aws-ec2-ssh/issues/28#issuecomment-290987200

So for example: ssh-iam-check syncusers and ssh-iam-check checksshkey
The main reason for this is that we start to duplicate code in both sh scripts now (iam assumerole, probably later the group permission thing, and possibly others in the future)

[2017-04-04 12:07] michaelwittig commented on #28
Ok, I'm fine with the decision to merge #24. I will work on the following items:

[ ] verify that Documentation is up to date
[ ] verify that iam_ssh_policy.json is up to date
[ ] verify that showcase.yaml is up to date
[ ] verify that install.sh is up to date
[ ] use install.sh in showcase.yaml to not duplicate code
[ ] implement a test that ensures that the available features are working as expe

[2017-04-05 00:22] mvanbaak commented on #28
Cool! Thanks! If I can help with the items let me know :)

[2017-04-07 12:31] michaelwittig commented on #28
Could someone review https://github.com/widdix/aws-ec2-ssh/commit/bd9ff5d9cb8f311d7ce63bf850f98e6a69bd06b9 ?

[2017-04-08 10:42] mvanbaak commented on #28
Cool, you even created a testsuite! Only suggestion from my side is to comment out the sed lines to set the assumerole var in the showcase so it's consistent with the other optional var sed lines. Left a comment in the commit as well.

Good work. thanks a lot!

[2017-04-10 05:55] michaelwittig commented on #28
@mvanbaak I commented on your comment:) https://github.com/widdix/aws-ec2-ssh/commit/bd9ff5d9cb8f311d7ce63bf850f98e6a69bd06b9#commitcomment-21694850

[2017-04-10 22:21] uberbrady opened #31 "Some inconsistencies when using custom 'home' directories"
If you use `/etc/login.defs` to set a custom home basedir (instead of `/home`), the system breaks when it tries to sync.

I have a custom home basedir set of `/something/blah` and when the `useradd` call gets invoked, the home directory is correctly created as `/something/blah/${username}`. But then a later `chown` gets invoked, and that seems to be hard-coded to `/home/${username}`.

In my case,

[2017-04-10 23:28] uberbrady opened #32 "`./install.sh` requires in-line editing - env vars instead?"
Right now, if you want to use the `./install.sh` script, you need to directly edit it first. It's not a particularly big deal, but I bet it wouldn't be too hard to instead make it use environment variables instead?

For instead, you'd say something like:

[code]

Just means you can execute the script as-is, in-place, without editing it.

If this is something you'd be interested in, I'd be happy to

[2017-04-11 14:54] michaelwittig commented on #32
I would even prefer command line arguments. What do you think?

[2017-04-11 15:00] michaelwittig commented on #31
can you check if #33 solves the issue for your case?
otherwise I can use `getent passwd $username |cut -d ':' -f 6`

[2017-04-12 00:35] uberbrady commented on #32
Sure. Maybe something where if you just run it as is, it yells at you about minimum arguments... maybe a `--help` option or something? I'll ponder.

[2017-04-12 18:26] nikolay opened #34 "Publish to PyPI"
Instead of requiring git and having to `git clone` (i.e. rely on GitHub, which is often DDoS'd), it would be best if you publish this to PyPI so that we can install it via `pip install aws-ec2-ssh`.

[2017-04-13 06:16] michaelwittig commented on #34
@nikolay Do you know how publishing to PyPI works?

[2017-04-15 13:26] mvanbaak commented on #32
@uberbrady Can you test #35 please? At the moment I'm not able to test it but I think this should work.

[2017-04-15 14:18] mvanbaak commented on #34
Let me piggybag this issue and state I would like to have an RPM ;-)

[2017-04-24 16:31] uberbrady commented on #31
I am *so* sorry I haven't had a chance to check this out. I don't think I can do it on the boxes where I'm using it "in anger", but I will try and at least spin up a nano or something with a similar config and give it a quick whirl.

[2017-04-25 02:16] uberbrady commented on #31
Crap, no go so far. I had to spin up a t2.nano and just try and run the line on its own, and it doesn't work.

Reading up on BASH expansion, it seems that tilde-expansion happens *before* variable-expansion.

Lemme see if there's another trick we try. maybe a two-step type of thing.

[2017-04-25 02:25] uberbrady commented on #31
Well, it looks like the short answer is `eval` - and it's totally fair if you think that Eval is Evil.

But this works -

[code]

(don't mind the double-slash problem in there; that's just because I set the default directory dumbly.)

ref: https://serverfault.com/a/134516/180635

[2017-04-25 02:36] uberbrady opened #39 "provide a variable/configuration option/something else for `useradd` command-line parameters"
For a particular implementation of `aws-ec2-ssh`, I wanted to override the defaults set in `/etc/defaults/useradd`. I still wanted "regular" invocations of `useradd` to respect them, mind you, but for users added via this solution, I wanted those users to specifically live somewhere else.

Furthermore, I noticed that the shell when the users are added from this script is hard-coded to `/bin/bash`.

[2017-04-25 02:40] uberbrady commented on #31
If you want to test this on your own, here's how:

[code]

(redacted output to remove usage of ... let's just call them 'nonprofessional' words, shall we?)

[2017-04-25 17:29] #32 closed

[2017-04-25 17:37] michaelwittig commented on #31
I guess if we add `eval echo ~$username` we should validate that the incoming IAM username matches to:
[code]
I'm not an expert on this, but I would say than we are safe to eval?

[2017-04-25 18:12] michaelwittig commented on #28
v1.0.0 is released :)

[2017-04-25 18:12] #28 closed

[2017-04-25 19:53] mvanbaak commented on #39
I like the idea. This would also make it possible to use this script on FreeBSD/OpenBSD for example...

[2017-04-25 19:56] mvanbaak commented on #31
As far as I can see that should be safe yes :)

[2017-04-26 07:57] michaelwittig opened #40 "Do not try to create users when name > 32 craracters"
see #38 for discussion

[2017-04-26 15:01] michaelwittig commented on #31
I created a new PR #42 to implement this

[2017-04-27 14:17] asafcombo opened #43 "cross-account instructions improvment"
Hi I found some errors:

should be:
Setup users account -> 3.  Put the **dev aacount**

Also, for multiple accounts, how can one add trust relations for multiple accounts.

Last thing , please add spesific instruction to run the install.sh script with the a cl parameter

[2017-04-27 15:31] mvanbaak commented on #43
Thanks for reporting the error. I created a PR that fixes it.

To add more account, in the **users account** find the role you created, go to the 'Trust Relationships' tab, click the 'Edit' button and add more accounts.

Example:
[code]

[2017-04-28 12:33] #40 closed

[2017-04-28 12:34] #31 closed

[2017-04-28 12:36] #43 closed

[2017-04-29 14:33] mvanbaak commented on #30
In issue #39 we have the possibility to set another shell by passing the correct arguments to the useradd program. I think this handles point three in the original issue here ;-)

[2017-04-30 16:15] michaelwittig opened #46 "How can we keep the uid and gid constant"
We do not guarantee constant uid and gid for created local users at the moment. How could we handle this?

[2017-05-03 17:00] #39 closed

[2017-05-03 17:25] michaelwittig commented on #34
We now have an RPM

[2017-05-03 17:25] #34 closed

[2017-05-03 19:28] mvanbaak opened #47 "RPM does not install cron entries to sync users"
When installing the rpm package, the cronjobs at boot and every hour to sync the users are not created.

[2017-05-04 18:05] uberbrady commented on #46
Brain dump. I think that Proposal 4 has the most 'legs' maybe. But I would keep pondering for a little bit:

------------------------------------------------------------------------

Well, let's look at what we *do* have in IAM that's constant. Is it just the ARN? E.g. something like:

[code]

If so, that's a good place to start to try and 'generate' our userid?

Proposal 1:
-----------
So I'm thi

[2017-05-05 12:08] michaelwittig commented on #46
I also though about hashing the username (or ARN, doesn't matter in this case) but I'm not aware of a mechanism that does not come with collisions as you mentioned.

So I think we need to keep some state somewhere like Proposal 4 suggest. But instead of the IAM user I was thinking of a DynamoDB table or something. There we could easily keep track of users and their assigned uid / gid. But it makes

[2017-05-07 10:52] mvanbaak commented on #46
I have also been thinking about this. There is nothing really usable in IAM. hashing the names will be a problem, as it's too easy to have collisions.

The best thing would be tags, but AWS did not implement tags for IAM users :(

So I could only think of:
- iam group per user like proposal 4 above
- use some service to store the mapping. Either a mapping on S3, Dynamo, or, in my opinion, better y

[2017-05-08 14:10] trobert2 opened #49 "User with number in name always gets shell /sbin/nologin"
Hello,
I have been using this script for a few days and notices that users with names that contain numbers get /sbin/nologin and get added to removed users.

I am wondering if this might be the issue: https://github.com/widdix/aws-ec2-ssh/blob/master/import_users.sh#L164-L169

[code]

`local_users` have the local format I.E: robert.at.gmail.com
while `iam_users` have the normal email format. I.E:

[2017-05-08 17:08] michaelwittig commented on #49
@mvanbaak can you have a look at this?

[2017-05-08 17:09] #47 closed

[2017-05-08 17:13] michaelwittig commented on #46
I'm a fan of keeping things simple. This project started as a few lines of bash :)
Unstable uis and gids are documented as a limitation. My opinion: It okay to keep it like this.

[2017-05-08 17:22] mvanbaak commented on #46
I agree :)

[2017-05-08 17:23] mvanbaak commented on #49
Yes. Ill have a look at it

[2017-05-09 02:29] nikolay opened #51 "LOCAL_MARKER_GROUP setting is undocumented"

[2017-05-09 02:51] nikolay opened #52 "RPM does not create /etc/cron.d/import_users"

[2017-05-09 03:10] nikolay commented on #52
Dupe of https://github.com/widdix/aws-ec2-ssh/issues/47

[2017-05-09 03:10] #52 closed

[2017-05-09 03:11] uberbrady commented on #46
That's where I'm leaning currently too. But it's still something we should think about; consistent uid/gid's would enable things like NFS/EFS, and there are some people out there who might think that's a big deal.

I did an experiment with a simple 'inline policy' -

[code]

(that just allows you to list ec2 availability zones, but any simple, near-empty or meaningless policy would work).

I then

[2017-05-09 15:37] michaelwittig commented on #46
The only concern I have is that the AWS API is eventual consistent. Which means that you can not use the API to assign unique values.
And it could also be that two EC2 instances are started at the same time (e.g. by an Auto Scaling Group). They will not know each other and hit the AWS API at the same time, This could also lead to messed up uids.

[2017-05-09 16:12] mvanbaak commented on #46
That would only be a problem right after adding this inline policy right?

My main concern is: how do we handle a mix? Some users have this policy, others dont.
We would have to get the users, then sort on the policies, etc. or is there another solution?

It also adds a lot of api calls which means less users/instances can be managed this way.

Tricky feature.

[2017-05-09 18:34] nikolay commented on #47
@michaelwittig Can you please release this?

[2017-05-09 21:13] uberbrady commented on #46
Yeah, and to the earliest point, it might not be worth it to do at all. But let's at least keep stepping through it.

The eventual consistency issue is definitely still an issue, but only at the moment where you are trying to assign a new uid. Once it's assigned, it's pretty painless on currently-existing servers as well as brand new ones - you just use it to set the uid, that's it. But if you hav

[2017-05-09 21:15] uberbrady commented on #49
Okay, just to add in another data-point. I have just *one* of my users - who has no digit in his username! - who mystically seemed to get added to just one server with /sbin/nologin as his shell. I changed his shell back to bash and he could log in normally again.

Maybe eventual consistency bug?

[2017-05-11 12:53] mvanbaak commented on #49
@trobert2 is it about usernames with a number or with a special character that's translated by us ?

As you state 'with names that contain numbers' and as example you give 'robert@gmail.com'

[2017-05-11 14:44] mvanbaak commented on #49
Created pr that should fix it. I have tested with an iam user 'michiel@this.breaks'

[2017-05-11 14:55] #49 closed

[2017-05-11 14:58] trobert2 commented on #49
@mvanbaak The special character issue was there for sure. I don't know if the user with a number being added a  `/sbin/nologin` was related. Anyway, thanks for the help!

[2017-05-11 15:20] michaelwittig commented on #49
v1.1.1 released

[2017-05-11 17:47] mvanbaak commented on #51
Thanks for reporting the issue. I created a PR to fix this.

[2017-05-11 17:49] mvanbaak commented on #49
Does it make sense to create a test for this? If so, I will need some help with that ;-)

[2017-05-11 18:02] #51 closed

[2017-05-11 18:03] michaelwittig commented on #49
I worked with https://github.com/sstephenson/bats before. Any other tools you used for testing bash?

[2017-05-17 09:57] shinenelson opened #56 "import_iam_users stripping users of groups manually added from *NIX shell"
If a user is added to a group manually from the *NIX shell, that group is stripped at the next run of the `import_iam_users` `cron`. This is not desirable since we cannot claim `aws-ec2-ssh` to be the ultimate user management utility on the servers.

There are 3 ways to approach this problem :
1. Do not re-sync the groups of users
2. Use all groups from the user while re-syncing
3. Allow users fro

[2017-05-19 06:40] michaelwittig commented on #56
Does this issue arises when using the `SUDOERSGROUP` config option or `LOCAL_GROUPS` ?

[2017-05-22 18:29] mvanbaak commented on #56
I created a pull-request with the fix.

usermod -G adds a user to the given groups, but by default it removes the user from all groups not specified in the list. Adding the -a flag means the user is added to the specified groups, and if the user is member of other groups, it will stay member of those groups.

[2017-05-22 18:31] mvanbaak commented on #56
From the manual page:

[code]

[code]

[2017-05-23 05:34] #56 closed

[2017-05-23 07:43] michaelwittig commented on #56
releases as 1.1.2

[2017-05-26 23:22] nikolay opened #59 "Multiple sudoers groups"
First, the current variable `SUDOERSGROUP` has inconsistent naming (along with `ASSUMEROLE`) - words are not delimited by an `_`.

Second, there are use cases in which we want more than a single group having sudo access.

Deprecate `SUDOERSGROUP` for `SUDOERS_GROUPS` and, until removed, `SUDOERS_GROUPS` can default to `SUDOERSGROUP`.

[2017-05-28 01:11] obenziane2 commented on #59
Great job guys! Has this being fixed ?

[2017-05-28 02:19] obenziane2 opened #60 "issue when removing the user from the IAM group"
Found an issue when removing the user from the IAM group. If I remove the user from the group, it does not ssh in which is great and  it works. But if I put him back to the IAM group (running /opt/import_users.sh manually), it can't login.
The fix i did is to remove the user from the system, `usedel user1`... and remove his directory.

I found out that it jail the user to `/sbin/nologin`
`user1:x:

[2017-05-29 11:49] #30 closed

[2017-05-29 11:54] michaelwittig commented on #60
Can you confirm that the user was actually deleted before it was created again?
Question is: Was the user deleted or is the deletion broken.

[2017-05-29 14:51] mvanbaak commented on #60
If the user is still present on the system, but with a shell of h/sbin/nologin, the userdel command failed.
This is probably because there were still processes running for this user.

We can force delete a user, but this line in the manpage scares me a little:

[code]

[2017-05-29 15:48] michaelwittig commented on #60
maybe in https://github.com/widdix/aws-ec2-ssh/blob/master/import_users.sh#L156

[code]

?

[2017-05-29 16:50] obenziane2 commented on #60
Yeah, that's the issue, i had to remove that line, somehow it prevents from executing the delete command on AWS linux instance

[2017-05-29 18:06] mvanbaak commented on #60
Good plan, but I'd put a sleep in the middle to give applications some time to shutdown (be a nice admin ;-) )

Let me cook up a PR

[2017-05-29 18:14] mvanbaak commented on #60
Since we make very sure all processes have gotten the kill signal, we can delete the user with -f as it's safe to do now.
Just to make sure we delete the user, I added the -f flag.

If you feel uncomfortable with it, tell me and I can delete it again.

[2017-05-29 18:17] mvanbaak commented on #59
I can have a look at this tomorrow. @michaelwittig if you want you can assign to me. Today I wont have time for it.

[2017-05-30 06:07] #60 closed

[2017-05-30 06:09] michaelwittig commented on #59
For some reasons, GitHub don't let me assign you to the issue... but feel assigned :)

[2017-05-30 07:28] mvanbaak commented on #59
Probably because I'm not part of the widdix team, makes sense.
I've some code done but have to test it today. If tested I'll create a pr.

[2017-05-30 10:54] darrylb-github opened #62 "Logging"
Would be great if this created a local log for easy tracking/debugging of users being added/removed etc.
I see it had info logging before. I suggest rather than log on every run, only log when taking important actions like creating a new user or removing a user and so on. Everytime the cron runs and nothing has changed it wouldn't add to the log. I know some of this will be logged in standard syst

[2017-05-31 09:38] nikolay opened #63 "Add an option to grab groups and keys from GitHub"
I'm not sure if every SSH user has an IAM account, but we all have pretty well-secured GitHub accounts. How about adding an option to grab groups and users from GitHub, too?

Maybe we need an adapter with implementations for IAM and GitHub and keep the rest of the code universal.

Let's not forget that AWS CLI comes with JMESPath, which I like more than jq, so, GitHub can be used via curl and JMES

[2017-05-31 09:41] michaelwittig commented on #63
The idea sounds good. But I would like to keep this project small in scope. But feel free to fork the project. I'm happy to put a link in the README.

[2017-05-31 09:43] nikolay commented on #63
I don't think it would be more code. At the end of the day, the command to get the list of teams, users in a team, and each user's SSH key isn't more than just a few lines of Bash. As you know, most of your code is not specific to IAM, but doing generic stuff for local user management.

[2017-05-31 09:43] nikolay commented on #63
Okay, let me give it a try and then you can decide.

[2017-05-31 11:03] mvanbaak commented on #59
Sorry, switching jobs takes a bit more than I was anticipating. Did not forget about this.

[2017-05-31 12:21] michaelwittig commented on #59
no worries. you contributed quiet some time in the past to make the project better. Thanks for this!

[2017-06-03 15:36] mvanbaak commented on #59
PR created and tested in vagrant. Ready to be reviewed and merged.

[2017-06-05 13:55] debu99 opened #66 "/bin/bash -e cause script terminate"
script will exit after execute /usr/bin/pkill which cause users won't delete after added

function delete_local_user() {
    # First, make sure no new sessions can be started
    /usr/sbin/usermod -L -s /sbin/nologin "${1}"
    # ask nicely and give them some time to shutdown
    /usr/bin/pkill -15 -u "${1}"
    sleep 5
    # Dont want to close nicely? DIE!
    /usr/bin/pkill -9 -u "${1}"
    slee

[2017-06-06 05:34] mvanbaak commented on #66
Good catch.

[2017-06-06 14:20] #59 closed

[2017-06-06 14:21] #62 closed

[2017-06-07 12:13] johnsweetescott opened #68 "install.sh fails to update /etc/ssh/sshd_config on Ubuntu 16.04"
The install.sh script relies on finding a commented `#AuthorizedKeysCommand none` and `#AuthorizedKeysCommandUser nobody` in the `/etc/ssh/sshd_config` file. On Ubuntu 16.04 LTS (ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20170414 (ami-f1d7c395)) these commented entries are not present:
`$ grep -i AuthorizedKeysCommand /etc/ssh/sshd_config |  wc -l`
`0`
`$ grep -i AuthorizedKeysUser /e

[2017-06-14 01:27] AswinKakarot opened #69 "Users gets deleted when cron job runs import_users.sh"
I installed aws-ec2-ssh on an ubuntu 16.04 server running on aws. The import_users.sh script imports the users from aws iam and setup the user environment. But after 10 minutes when the cron job runs the script again, it removes all the users imported. I have also noticed that, it doesn't remove local users created by me, as it should be.
I think the problem exist in the following code:
`   iam_us

[2017-06-20 18:27] mvanbaak commented on #69
hum, strange. I have been using this code in production for a couple of months now and never saw what you describe here.

Can you check your server's logfiles for lines `Deleted user <username>` ?
It should have a line like that for every user

[2017-06-21 09:19] AswinKakarot commented on #69
I think its my bad, I did the configuration manually without running install.sh script and it works. I will close this issue.

[2017-06-21 10:42] jcajkovic opened #71 "Feature request - Google Auth"
Hi guys,

I'm wondering if there is a place to add here also creation of .google_authenticator file during user creation process - the content of the file could be the parameter from AWS Parameter Store (encrypted string option).

The Role you are assuming needs only default KMS decrypt and parameter read permission.

Thanks for answers.

[2017-06-21 12:27] michaelwittig commented on #71
Can you explain me what the use case is here? What are you trying to solve?

[2017-06-21 13:06] jcajkovic commented on #71
Hi, well just to have multi factor authentication out of box with the Google Authenticator on SSH with creation of the users. I understand if this is out of scope from this project, it is just the idea to improve overall security with IAM. (btw I like what you did here)

In fact I can do that as another cronjob script to check all the iam-synced-users and get the file from different source and and

[2017-06-21 13:11] michaelwittig commented on #71
What other pieces are needed to make it work? Just putting the file in the home directory doesn't seem to be enough?

[2017-06-21 13:31] jcajkovic commented on #71
well you need to have configured SSH and installed google-auth part on linux instance.

here is nice tutorial: https://www.digitalocean.com/community/tutorials/how-to-set-up-multi-factor-authentication-for-ssh-on-ubuntu-16-04

[2017-06-22 06:29] michaelwittig commented on #71
Since this solution is about "Manage AWS EC2 SSH access with IAM" I would also argue that your proposal is out of scope.

But there are other ideas that want to expand the scope pf the project like #63

So if there is a group of people who wants to expand the project scope we can discuss this and I'm happy to add additional core contributors to the project.

[2017-06-22 06:33] jcajkovic commented on #71
Hi Michael, thanks for your input, I will solve the issue in separate script. I completely understand your opinion on this.

you can close this issue as Not to be implemented ;-)

[2017-06-22 13:11] #71 closed

[2017-06-26 10:50] mariuz commented on #68
Also in ubuntu 14.04 AuthorizedKeysCommand and AuthorizedKeysUser are missing from  /etc/ssh/sshd_config

[2017-06-26 14:51] mariuz opened #72 "On Ubuntu service is called ssh"
On ubuntu instances service is called ssh

`service ssh restart`

[2017-07-06 14:34] madave commented on #72
Additionally, the cron-scheduled import_users.sh seems to adversely delete all imported by install.sh users ten minutes later (at its first cron-scheduled exec). The iam-synced-users seems to remain though.

[2017-07-06 14:58] michaelwittig commented on #72
@madave is this releated to #69

[2017-07-14 09:13] omahonyb opened #73 "Issue with doing an IAM request with every login"
Is there a way to get this to not perform the IAM aws cli command if it finds a .ss/authorized_keys entry?

The reason I ask is we use Ansible to build out environments, and currently it is causing intermittent issues with timeouts on ssh, specially if we are running the playbooks against a large number of instances. The playbooks are using the local ec2-user, so it would really be benificial to u

[2017-07-14 09:27] michaelwittig commented on #73
the ec2-user should not be an IAM user. if the user is not found in IAM, ssh will fall back to authorized_keys , so ec2-user should always work?

You talk about timeouts on ssh. Is it possible that this has nothing to do with the iam call?

[2017-07-14 09:35] omahonyb commented on #73
Apologies, I wrote that yesterday evening while very tired, and probably did not convey my message very well.

The ec2-user is not an IAM user, it is a local user, and works fine.
The timeouts are not so much timeouts as noticeable slow downs during the ansible playbook runs [or during an IAM user login]

What I am looking to do is have the script check if the ec2-user has its authorized_keys in p

[2017-07-14 13:01] michaelwittig commented on #73
I don't think this is possible:

From the sshd docs:
[code]

which means that AuthorizedKeysCommand runs first, after that the AuthorizedKeysFile is checked. You can not reverse that order.

[2017-07-14 14:43] omahonyb commented on #73
Thanks mate, I thought that was the case after my own research, but had hoped that you had better in depth knowledge :P. Only way I see is putting an if statement in the script to abort if it is finds a authorized_keys file for the user. Ill have a look myself next week. Friday means it is out. :D

[2017-07-17 08:13] #73 closed

[2017-07-25 13:13] askainet opened #75 "DONOTSYNC not set to 1 on install"
The sed substitution command is not setting DONOTSYNC=1 when installing using RPM

A working and standard sed command could be:

`sed -i 's/DONOTSYNC=0/DONOTSYNC=1/g' ${RPM_BUILD_ROOT}%{_sysconfdir}/aws-ec2-ssh.conf`

[2017-07-26 07:54] #75 closed

[2017-07-27 06:26] michaelwittig commented on #75
could you test with this RPM: https://s3-eu-west-1.amazonaws.com/widdix-aws-ec2-ssh-releases-eu-west-1/aws-ec2-ssh-1.2.1-1.el7.centos.noarch.rpm

[2017-07-27 08:18] askainet commented on #75
Works great, thanks!

[2017-08-02 03:54] rbolkey commented on #69
This happened for me as well; I think it's environmental.

The environment that cron runs in is:
HOME=/root
LOGNAME=root
PATH=/usr/bin:/bin
LANG=en_US.UTF-8
SHELL=/bin/sh
PWD=/root

But the `aws` command isn't on that path
[code]

[2017-08-02 05:38] michaelwittig commented on #69
I think the problem is that this solution is not intended to work with Ubuntu. The demo uses Amazon Linux https://github.com/widdix/aws-ec2-ssh#demo-with-cloudformation and also our tests (https://github.com/widdix/aws-ec2-ssh/tree/master/test) use Amazon Linux only.

Is anyone interested in fixing all the Ubuntu issues? I'm not using Ubuntu at all. I'm an Amazon Linux user.

[2017-08-02 06:08] mvanbaak commented on #69
I'm also not using Ubuntu, only Amazon Linux.

So to confirm for me:
- When you run the script manually, it works
- When cron runs the script, it doesn't work and deletes the users.
Correct?

The thing about the PATH is a good one. On amazon linux the aws binary is in /usr/bin/aws so this could be the issue yes.

If it's not in the current PATH, we cannot use which or whereis to find the location.

[2017-08-02 06:12] michaelwittig commented on #69
I believe, if we change `/etc/cron.d/import_users` to:
[code]

it should work.

[2017-08-02 07:10] mvanbaak commented on #69
Clearly you had your wake-up coffee, where I didn't.
Yes, that would work.

[2017-08-02 09:33] #69 closed

[2017-08-02 09:38] michaelwittig commented on #69
☕️

[2017-08-02 09:38] michaelwittig commented on #68
I think the problem is that this solution is not intended to work with Ubuntu. The demo uses Amazon Linux https://github.com/widdix/aws-ec2-ssh#demo-with-cloudformation and also our tests (https://github.com/widdix/aws-ec2-ssh/tree/master/test) use Amazon Linux only.

Is anyone interested in fixing all the Ubuntu issues? I'm not using Ubuntu at all. I'm an Amazon Linux user.

[2017-08-02 09:39] michaelwittig commented on #72
I think the problem is that this solution is not intended to work with Ubuntu. The demo uses Amazon Linux https://github.com/widdix/aws-ec2-ssh#demo-with-cloudformation and also our tests (https://github.com/widdix/aws-ec2-ssh/tree/master/test) use Amazon Linux only.

Is anyone interested in fixing all the Ubuntu issues? I'm not using Ubuntu at all. I'm an Amazon Linux user.

[2017-08-15 03:44] debu99 opened #78 "aws ec2 describe-tags need region parameter"
[root@ip-10-10-100-4 cron.d]# aws ec2 describe-tags \

You must specify a region. You can also configure your region by running "aws configure".

[2017-08-15 12:17] #78 closed

[2017-08-21 13:05] hmeltaus opened #80 "Add an option to override/customize clean_iam_username function"
We use email addresses as IAM usernames, but these can easily be longer than 32 chars. The current implementation of `clean_iam_username` makes them even longer.

It would be great if we could provide our custom function that would be invoked instead of `clean_iam_username`.

The custom function could be provided in `/etc/aws-ec2-ssh.conf` file, or maybe in some separate file.

[2017-08-22 14:12] michaelwittig commented on #68
fixed in #79

[2017-08-22 14:12] #68 closed

[2017-08-22 14:27] michaelwittig opened #81 "Showcase not working with ubuntu"
The showcase that is also used for testing is not working with an Ubuntu AMI. See ubuntu branch

[2017-08-24 11:55] #72 closed

[2017-08-24 11:55] #81 closed

[2017-08-24 11:58] michaelwittig commented on #80
Hi @hmeltaus
How would your custom implementation look like? E.g. we could also handle the case of email addresses and remove everything after the @ ?

[2017-08-24 12:28] hmeltaus commented on #80
Removing everything after the @ would certainly work in most cases.

I guess you'd need to introduce a new option in configuration file which would enable this feature. Maybe that same option could be later used to tell that a custom function should be used to process IAM usernames if the default cleaning or email domain stripping isn't enough.

Anyway, having an option to remove everything after

[2017-08-25 07:07] michaelwittig opened #84 "CentOS support"
from @nicholascowan

#83  breaks functionality on CENTOS7 because it's checking for init.d scripts and doesn't take into account systemd, the restart method should be systemctl restart sshd.

This causes script to throw an error since ssh.service is not found, and would break in any cloudformation scripts.

[2017-08-29 07:37] michaelwittig opened #85 "shellcheck"
Hi,

I would like to add a tool called [shellcheck](https://github.com/koalaman/shellcheck) to lint shell scripts before we merge them into master.

At the moment, the tool finds toe following issues:

[code]

If there are no doubts, I would like to activate the tool and I would also fix the existing findings.

[2017-09-27 14:56] mtadepalli69 opened #86 "The script is not working on some instances. When i check I havent had AWS and PIP installed I have installed and ran the script but after 10 mins when cron job runs the aws and pip commands were not running. Can I run"

[2017-09-28 05:55] michaelwittig commented on #86
could you check your issue title/description? looks like a few characters are missing?

besides that, can you check if there are any errors in `/var/log/cron`

[2017-10-04 14:26] mtadepalli69 commented on #86
I am getting this error when i went through the logs in /var/spool/mail/root

**/opt/import_users.sh: line 63: aws: command not found**

This EC2 instance where I am running the script has been launched using EC2 Container Service where it comes with a role automatically and I have added the policy to it and also added the role in authorized_commands.sh and I have manually installed pip, aws-amito

[2017-10-04 15:45] michaelwittig commented on #86
you are using the ECS optimized Amazon Linux which does not have the AWS CLI installed. We only support Amazon Linux and Ubuntu.

Make sure to install the AWS CLI and have the PATH set correctly int he cronjob file.

[2017-10-04 15:45] #86 closed

[2017-10-04 15:56] mtadepalli69 commented on #86
I have installed AWS CLI and also set the path correctly in .bash_profile file. Do i need to set correctly in some other file ? Cronjob file means doing crontab -e works ?

[2017-10-04 15:59] mtadepalli69 commented on #86
To be exact where to check like in which script does this cron job is set ? Sorry for asking on small things since I am new to this I couldn't figure out. Thanks in Advance.

[2017-10-04 16:09] michaelwittig commented on #86
cron does not use bash_profile.

try this command in your shell:
[code]

and use this full path in the cronjob.

[2017-10-04 16:09] mtadepalli69 commented on #86
I have checked the file from /etc/cron.d/
This is what i have under the above path for import_users file

**SHELL=/bin/bash
PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin
MAILTO=root
HOME=/
*/10 * * * * root /opt/import_users.sh**

aws --version
aws-cli/1.11.158 Python/2.7.12 Linux/4.9.43-17.38.amzn1.x86_64 botocore/1.7.16

Added path to .bash_profile file
PATH=~/.l

[2017-10-04 17:41] mtadepalli69 commented on #86
Hi,

I have updated the cronjob with the full path that i have got after executing "which aws" but still after cron job gets executed, I have seen this error

 **/opt/import_users.sh: line 63: aws: command not found**

Can you help me please

[2017-10-04 18:52] mtadepalli69 opened #88 "Updated the PATH variable in /etc/cron.d/import_users but still getting the issue."
Hi,

I have updated the cronjob with the full path that i have got after executing "which aws" but still after cron job gets executed, I have seen this error

**/opt/import_users.sh: line 63: aws: command not found**

Can you help me please

[2017-10-04 19:18] #88 closed

[2017-10-04 19:18] michaelwittig commented on #88
spam #86

[2017-10-12 13:29] Mistawes opened #89 "RPM link needs to be updated."
I was trying to install the 1.1 RPM from the README, but noticed the cron wasn't included. Poked around the URL and found there's a 1.4 version, which seems to include it. Might wanna update the URL in the README **_EDIT:_** I found it under releases just now.

Correct URL:
https://s3-eu-west-1.amazonaws.com/widdix-aws-ec2-ssh-releases-eu-west-1/aws-ec2-ssh-1.4.0-1.el7.centos.noarch.rpm

Fantastic

[2017-10-13 11:05] #89 closed

[2017-10-13 12:47] aindenko opened #91 "CentOS error: authorized_keys_command.sh status 255"
Hi,

I'm testing aws-ec2-ssh on CentOS 7 AMI and getting this error from sshd log:
`error: AuthorizedKeysCommand /usr/bin/authorized_keys_command.sh xxxxxxxxx failed, status 255`.
When I run `/usr/bin/authorized_keys_command.sh xxxxxxx` manually it just returns public key as expected.
Sync users script works fine, my user created and has sudo access as expected.

Additional information:
OS: CentOS

[2017-10-16 09:52] michaelwittig commented on #91
Hi @aindenko We only support Amazon Linux or Ubuntu at this time.

Maybe the access rights are not right. "The program must be owned by root, not writable by group or others" so `chmod 755 /usr/bin/authorized_keys_command.sh` could solve that

[2017-10-16 10:06] aindenko commented on #91
Hi @michaelwittig :) I know that CentOS not supported. We use this package with Amazon Linux now and I'm just trying create same setup at CentOS machine. 755 doesn't help. I'm just wondered about what would be different between manual and sshd run. In order to debug issue, I've just put random exit codes inside script and saw them in sshd log. So sshd has correct access, so I still assume somethin

[2017-10-16 10:15] michaelwittig commented on #91
you could include the `printenv` command in the `authorized_keys_command.sh` file and compare the env variables between manual invocation and cron invocation.

[2017-10-16 10:16] aindenko commented on #91
good point, thx!

[2017-10-16 13:01] aindenko commented on #91
@michaelwittig after some investigation problem was found. AWL CLI couldn't read metadata because port 80 is closed for SSH daemon. Problem is SELinux https://wiki.gentoo.org/wiki/SELinux/Tutorials/Permissive_versus_enforcing. After switching to permissive mode everything works. So what do you think about it? Is it safe just disable it ? In my case it is not mission critical part of infrastructure

[2017-10-17 09:30] michaelwittig commented on #91
I have no idea. Maybe the person who wrote the rule for SELinux can tell you. I will close this issue for now.

[2017-10-17 09:30] #91 closed

[2017-10-23 20:47] kenske opened #93 "Error when calling GetGroup operation"
I'm trying to get the multi-account setup working according to the example on the README. Whenever I run the install script on an instance in the dev account, I get this:

[code]
The key has slashes in it. Does the script need to escape the value? Any ideas on how to fix this?

[2017-10-24 05:41] michaelwittig commented on #93
* Which operating system are you using?
* What's the version of the AWS CLI (run `aws --version`)

[2017-10-24 16:36] kenske commented on #93
Here's what I'm running:
AWS Version: `aws-cli/1.11.13 Python/3.5.2+ Linux/4.8.0-41-generic botocore/1.4.70`
OS: Ubuntu 16.10

[2017-10-24 21:04] kenske commented on #93
Turns out the parameters in this line were in the wrong order:
https://github.com/widdix/aws-ec2-ssh/blob/master/import_users.sh#L62

Not sure if you want to add a dependency, but this is how I fixed it:
https://github.com/widdix/aws-ec2-ssh/pull/95

[2017-10-26 21:27] zxlin opened #96 "Fallback behavior when IAM is down"
I'm sure many people noticed a very brief IAM outage earlier this week. During the outage, IAM was not responsive and as a result, this script would go and delete all of the local users synced from IAM as IAM did not return a list of users.

I was hoping to discuss what are the options for some fallback behavior in the event of IAM outage or actually just plain network connectivity outage.

[2017-10-27 11:29] michaelwittig commented on #96
if the IAM API is down the CLI will fail. As a result, the script will fail. It should not delete all users.
Why do you think that this will happen?

[2017-10-27 15:09] zxlin commented on #96
It happened with the IAM outage earlier this week, in `/var/log/auth.log` it shows `aws-ec2-ssh` deleting all the users during the outage. Perhaps IAM returned 200 and an empty list while it was still recovering?

Nonetheless, this is still a case we have to consider.

[2017-10-30 09:50] michaelwittig commented on #96
that's kind of unexpected.... the problem is that we can not really decide that an empty list means no IAM users or something is broken...

[2017-10-30 17:39] zxlin commented on #96
It would be kind of annoying to implement, but a configurable *n* number of "confirms" that a user is deleted before actually deleting the user would be nice.

Keep some state of the list of users and a counter of how many times a user's been missing from the returned list, on the *n*-th sync of it missing, delete the user.

[2017-10-31 08:53] michaelwittig commented on #96
I don't see how this would solve the problem. Depending on the length of the outage the script would still delete all the users?

[2017-10-31 11:09] richard-scott commented on #96
Curl has lots of [error codes](https://ec.haxx.se/usingcurl-returns.html) so you can see exactly why the download of data failed and act accordingly.

[2017-10-31 16:27] zxlin commented on #96
@michaelwittig *n* can be set to a org's fault tolerance preference and if the outage does last longer than however long the *n* confirm allows, then it at least gives time for the org to react to system failures.

This is not the only solution to fix it, it's just what I thought of first. I'm completely open to other ways to introduce some fault tolerance into this.

[2017-10-31 19:01] michaelwittig commented on #96
@richard-scott there is no curl involved here at all...

[2017-11-01 20:20] assertnotnull commented on #96
I saw this issue and maybe it's the problem I am facing here.
Today in the same afternoon, the import_user deleted the users twice.

[2017-11-02 18:04] assertnotnull commented on #96
Here's what I found in the logs
https://defuse.ca/b/ToCgVcUDGNTQj4gwv0YhS3

[2017-11-03 16:06] michaelwittig commented on #96
@assertnotnull ok. and on what time was the user added again after Nov  1 20:40:20?

[2017-12-01 09:54] sergeiwaigant opened #97 "Uninstalling script?"
I plan implement your scripts in our cross-account environment so that I can just install the policys and roles using a cloud formation stack in the service catalog.
After that the users should have the option to download the install.sh script from AWS S3 and use this functionallity when they need it.

It would be cool if there will be an uninstalling script for revert all to basic if they dont ne

[2017-12-05 16:14] KusabiSensei commented on #84
There are actually two things that need to be considered here. One is the use of `systemd`. The other is SELinux being turned on with default policies.

It looks like there may be a way around that without needing the end user to disable SELinux or put SELinux into permissive mode. SELinux provides booleans that can tune the base policy from CentOS or Red Hat, and turning on the NIS boolean would

[2017-12-07 16:07] KusabiSensei commented on #46
Just a question (You may have already thought about this), but why not use the `UserId` field instead of the ARN?

[code]

Amazon's IAM documentation also says that it would make sense to use that `UserId` field to uniquely identify IAM users. See the reference identifiers section [linked here](http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-unique-ids)

It w

[2017-12-07 16:48] michaelwittig commented on #46
Maybe we should find out what's the largest uid for Amazon Linux. According to https://en.wikipedia.org/wiki/User_identifier#Type this could be a bit tricky because there seem to be reserved numbers and stuff. I could check the The Linux Programming Interface book to see if there is something in there. Or maybe we find someone who nows about uids in Amazon Linux?

[2017-12-07 17:14] KusabiSensei commented on #46
My recollection is that UID space from kernel 2.4 onwards is unsigned 32 bit integers. If we shift the result up by about 2000, that should cover system accounts and packaged application accounts. The only gotcha is the UID for `nobody`, which is either 32767 or 65535, but that can be a standalone check.

I'll check the max UID and report back here.

[2017-12-07 18:57] KusabiSensei commented on #46
Looks like the maximum is 2^32 - 2 (4294967294). My suspicion is that 2^32 - 1 is reserved, but again, that's something that we can test for.
[code]

User `nobody` is actually uid 99 on my Amazon Linux instance. (Haven't looked at others, but I suspect that they will be similar, since this is determined by the kernel's ability to handle UIDs of a given length)
[code]

At least on Amazon Linux, it

[2017-12-08 01:59] uberbrady commented on #46
Ooh - here's a kinda nutty idea -

What if we use the creation time to generate the uid?

We could set the 0-date as 1/1/2000 for simplicity's sake.

(pardon the fuzziness of the numbers, I'm doing this with a shitty calculator and not using proper date math) -

The minimum possible user ID you could ever get would be from around the creation of AWS (probably later; the creation of IAM) - call tha

[2017-12-08 02:55] KusabiSensei commented on #46
Technically you could use a UNIX timestamp where time_t is signed 64 bits long (You're going to truncate it anyway to unsigned 32 bit int by dropping the upper 32 bits...32-bit time_t was a signed 32 bit int, so that's the origin of the 2038 problem, unsigned 32-bit int time_t would be good until 2106), you adjust by the creation of IAM UNIX timestamp (If you want), adjust for system accounts and

[2017-12-08 08:00] mvanbaak commented on #46
Why didn't I think of that! Pretty smart idea there.

We should try this. It can be implemented in a brach and tested with several of the services (specially EFS of course).
Also, maybe it's a good idea to make some switch/config option to disable this functionality.

I like the idea, I really do.

[2017-12-08 18:56] uberbrady commented on #46
Hey it took me 7 months to come up with it myself!!!

[2017-12-09 10:18] michaelwittig commented on #46
My only thoughts: I would prefer hashing the uid/arn (unique value) to an unsigned integer instead of the creation date where we don't have any guarantees on uniqueness. In case of an uid collision we should log this as we do at the moment with usernames > 32 characters.

[2017-12-13 11:30] myster-t opened #100 "Permission denied (publickey)"
Operating System: Amazon Linux AMI 2017.03
AWS CLI Version: aws-cli/1.11.83 Python/2.7.12 Linux/4.9.32-15.41.amzn1.x86_64 botocore/1.5.46

Followed the README as best as I can:

1) created iam role and instance profile
2) created ec2 with that IAM role
3) added pub key to user
4) cloned project on server
5) ran install.sh and saw new users created in /etc/passwd
6) tried to ssh and got permission

[2017-12-13 17:49] michaelwittig commented on #100
Hi,

how do you connect to the machine?  If you use the terminal, you can enable verbose mode with `-vvv` on the client side.

[2017-12-13 17:50] michaelwittig commented on #97
Hi @sergeiwaigant
I labeled this issue as a feature request

[2017-12-14 23:06] myster-t commented on #100
Thanks for responding to my ticket.

I ran with -vvv and after the hostkey was found, this was the log output:

debug1: Found key in /Users/mrt/.ssh/known_hosts:159
debug3: send packet: type 21
debug2: set_newkeys: mode 1
debug1: rekey after 134217728 blocks
debug1: SSH2_MSG_NEWKEYS sent
debug1: expecting SSH2_MSG_NEWKEYS
debug3: receive packet: type 21
debug1: SSH2_MSG_NEWKEYS received
debug2: se

[2017-12-15 14:21] KusabiSensei commented on #100
What is the command string that you are using with `ssh` to connect? It looks like it is not finding an identity file in the standard places on your client system.

[2017-12-15 14:27] KusabiSensei commented on #46
I have a preference to the hash into unsigned 32 bit integer space as well, mainly due to the fact that I'm unsure about how IAM deals with users federated into IAM and their create dates (and I don't have a way to test that functionality. Is it date when they were actually created or when they first federated?)

But that may be worrying about things beyond the scope here.

[2017-12-15 14:33] KusabiSensei commented on #97
I'll put a brain dump on my fork. I've been through the `install.sh` enough I should be able to invert it's behavior.

[2017-12-15 15:22] KusabiSensei commented on #97
Brain dump of an uninstall script. I haven't tested this ***at all***, so please exercise caution if actually using this.

I'm currently backed up at work with other things, but maybe I'll be able to test this over the weekend.

https://github.com/KusabiSensei/aws-ec2-ssh/blob/feature/uninstall/uninstall.sh

[2017-12-16 01:47] myster-t commented on #100
Thanks @KusabiSensei I missed this. You're absolutely correct. I didn't `ssh-add` the correct private key. Thanks for all of your help guys! Works brilliantly now.

[2017-12-16 01:47] #100 closed

[2017-12-16 07:54] michaelwittig commented on #100
@KusabiSensei for your help. Much appreciated!

[2017-12-20 07:10] subinmath opened #102 "install.sh throwing errors"
Operating System: Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
AWS CLI Version: aws-cli/1.14.13 Python/3.5.2 Linux/4.4.0-1041-aws botocore/1.8.17
=================================================================
while running the script  install.sh

root@ip-172-31-88-130:~/aws-ec2-ssh# sh install.sh
Cloning into 'aws-ec2-ssh'...
remote: Counting objects: 3

[2017-12-20 07:26] subinmath opened #103 "CF template showcase.yml showing error"
Operating System: Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
AWS CLI Version: aws-cli/1.14.13 Python/3.5.2 Linux/4.4.0-1041-aws botocore/1.8.17
Error
----------------------------------------------------------------
when i run the CF template i get the following error

  | 12:52:20 UTC+0550 | ROLLBACK_IN_PROGRESS | AWS::CloudFormation::Stack | sshkeys | T

[2017-12-20 07:47] subinmath commented on #102
Please ignore its working but when i create a new ec2 instance i cannot see my public key added in authorised key

[2017-12-20 13:54] KusabiSensei commented on #102
That is by design. SSHD is configured to call the `authorized_keys_command.sh` file, pass it the username that is attempting to sign on, and pull the public key that is stored in IAM for the IAM user.

[2017-12-21 12:16] michaelwittig commented on #103
This is caused by #99

[2017-12-21 12:18] #102 closed

[2017-12-21 15:48] KusabiSensei opened #104 "install.sh does not always restart sshd on Ubuntu"
Operating System: Ubuntu
AWS CLI Version: aws-cli/1.11.13 Python/3.5.2 Linux/4.4.0-1044-aws botocore/1.4.70

CloudFormation template, when using Ubuntu, does not reload sshd using the systemd service restart.

Manual installation using `install.sh` in an interactive console session works as expected on Ubuntu.

[2017-12-24 22:12] KusabiSensei commented on #103
I would be interested in seeing the instance level logs, since I am not able to recreate this exact scenario on the 16.04.3 LTS AMIs using the showcase prior to making the changes in #105. Even after applying #105, I'm getting the expected behavior (and the Maven test suite is also passing now).

@subinmath If you can recreate the scenario, send along the event details in CloudFormation. I'd also

[2017-12-26 20:52] sohel2020 opened #106 "authorized_keys_command is not working"
**Operating System:** ubuntu 14.04
**AWS CLI Version:** aws-cli/1.14.16 Python/2.7.6 Linux/3.13.0-135-generic botocore/1.8.20
**SSHD Version:** OpenSSH_6.6.1p1 Ubuntu-2ubuntu2.8, OpenSSL 1.0.1f 6 Jan 2014

I'm unable to login my server but failed.
ssh debug log:
debug3: Running AuthorizedKeysCommand: "/opt/authorized_keys_command.sh tarikur" as "nobody"
debug1: restore_uid: 0/0
debug1: temporarily

[2017-12-27 10:57] michaelwittig commented on #106
Can you run the steps described in #100 to debug this?

[2017-12-27 11:30] sohel2020 commented on #106
@michaelwittig thanks. Problem is solved. Problem was I use my aws access key and secret access key using using aws configure command as root user. But when I have attached iam profile it started working.

But If I want to use this in non aws env (like my baremetal server) where iam profile does not support. How can i use it???

[2017-12-27 11:37] michaelwittig commented on #104
The issue is a missing else block in thisif:

``´
if [[ "$retval" -eq "0" ]]; then
  if [[ (`systemctl is-system-running` =~ running) || (`systemctl is-system-running` =~ degraded) ]]; then
    if [ -f "/usr/lib/systemd/system/sshd.service" ] || [ -f "/lib/systemd/system/sshd.service" ]; then
      systemctl restart sshd.service
    else
      systemctl restart ssh.service
    fi
  else <<< missin

[2017-12-27 11:41] #93 closed

[2017-12-27 11:42] michaelwittig commented on #103
related to #104

[2017-12-27 11:43] #103 closed

[2017-12-27 12:20] KusabiSensei commented on #104
Here's my take: If a system is in "starting" status as reported by `systemd`, we shouldn't be arbitrarily recycling system services until the system is started up fully. On a properly functioning system, the `starting` status should only be set during the system boot phase, and yield to `running` or `degraded` based upon the end state of the enabled unit files.

This seems to be a special case whe

[2017-12-27 12:43] michaelwittig commented on #104
would a `condrestart` help in those cases?

[2017-12-27 12:45] michaelwittig commented on #104
I just merged the PR. Let's see if this fixes the bug and then we can continue to make it better :)

[2017-12-27 12:58] KusabiSensei commented on #104
@michaelwittig `condrestart` would restart the service if it is already running, so it would have the same effect as a `restart`.

What would be better is a `reload` (SIGHUP to reload configuration by a running daemon) but OpenSSH re-execs and daemonizes itself on a SIGHUP (which is what gets sent by a `reload`). So that wouldn't work, since the way it treats a SIGHUP is equivalent to `restart`.

[2017-12-27 13:01] KusabiSensei commented on #84
The systemd code that is in #99 and got updated in #107 should support CentOS, along with the SELinux portions of #99

We should be able to close out this issue. Perhaps now with the fix, we could add CentOS to the Showcase.

[2017-12-27 13:27] michaelwittig commented on #84
I prepare a test case to ensure that CentOS is always working...

[2017-12-27 14:26] KusabiSensei commented on #106
From a first glance, consider the following line:

[code]

If you configure your AWS access key and secret as `root`, the system will not be able to assume that identity when calling AWS services, as `sshd` calls `/opt/authorized_keys_command.sh` as `nobody`.

To support this outside of AWS (and call AWS IAM as your directory server), you would likely need to find a way to configure user `nobody`

[2017-12-27 15:49] michaelwittig commented on #106
as @KusabiSensei said, this project provides a way to "Use your IAM user's public SSH key to get access via SSH to an **EC2 instance**"

I would like to add this to @KusabiSensei lists:

5. Fake a metadata server in the data center to get access to credentials which is not too difficult to achieve and you don't have to store the secrets on the machines.

[2017-12-27 16:17] #84 closed

[2017-12-27 16:21] michaelwittig commented on #104
The rpm is created on a Jenkins of my company using the `aws-ec2-ssh.spec` by running three commands:

[code]

If you know of a better way to create the package / packages in the future I'm happy to improve the process.

I will close this issue now since ubuntu is back to working. Thanks for you help!

[2017-12-27 16:21] #104 closed

[2018-01-04 11:05] siavashs commented on #63
I have developed a modular solution for our company which supports both AWS and GitHub, it's in testing phase now and hopefully will be released under an opensource license soon.

[2018-01-04 17:01] michaelwittig commented on #63
@siavashs let us know when it is released. I'm interested!

[2018-01-08 21:39] mclounie opened #108 "Ubuntu 16.04 allows ssh login with AWS users, but only when using private key."
Operating System: (Ubuntu 16.04)
AWS CLI Version: (aws-cli/1.11.13 Python/3.5.2 Linux/4.4.0-1020-aws botocore/1.4.70)

I cannot seem to get your program to work. Here are the steps i followed:

1. Fresh Ubuntu instance using AWS AMI, apt-get update, apt-get upgrade, installed awscli.
2. Attached your pre-made IAM role to it along with another role allowing 22 among other ports.
3. Retrieved public

[2018-01-09 07:29] michaelwittig commented on #108
Hi @mclounie What is the IAM user name you use?

[2018-01-09 20:13] mclounie commented on #108
michael.clounie

[2018-01-11 11:59] michaelwittig commented on #108
ok. that's fine.

can you show me the ssh command you are using? why do you think that it is an issue if you have ot provide the private key with the `ssh -i` option? What behaviour are you expecting?

[2018-01-12 13:38] KusabiSensei commented on #108
You would need to load the public key into your IAM user using the IAM console or `aws iam upload-ssh-public-key`. This is the same requirement as using ssh with AWS CodeCommit.

Once you have the public key for your corresponding private key loaded, can you let the group know if things are working as expected?

[2018-01-16 10:08] subinmath opened #110 "ssh sudo not working"
Not sure if this is the right place for this issue

Operating System: (Ubuntu)
AWS CLI Version: (aws-cli/1.11.13 Python/3.5.2 Linux/4.4.0-1043-aws botocore/1.4.70
)
Hello

I would tried the script using cloudformation and i could login as the user
But my issue is that i cannot sudo as that user its asking for password.

I would like to allow the user to have sudo access

Can anyone please help out

[2018-01-16 15:51] michaelwittig commented on #110
if you use the install script you can use the `-s` option to determine if users are allowed to use `sudo`. By default, this is not allowed.
The showcase does not allow you to sudo.

[2018-01-16 15:51] #110 closed

[2018-01-17 04:58] packetfairy opened #111 "include check for aws executable in import_users"
Operating System: Linux
AWS CLI Version: aws-cli/1.11.13 Python/3.5.2 Linux/4.13.0-1006-gcp botocore/1.4.70

--

import_users.sh should include a check for aws executable, and exit if it fails to find it.

We replaced the apt supplied aws cli tool for a pip supplied tool today. The pip supplied tool was dropped into /usr/local/bin, which was not part of root's default PATH. When import_users.sh ra

[2018-01-17 05:03] packetfairy opened #112 "include config option to control homedir removal"
Operating System: Linux
AWS CLI Version: aws-cli/1.11.13 Python/3.5.2 Linux/4.13.0-1006-gcp botocore/1.4.70

userdel -r is a bit aggressive. It would be nice to have a config option to control homedir removal on account deletion.

[2018-01-17 09:34] subinmath opened #113 "Help Required to implement on multiple ec2 instances"
Operating System: (Ubuntu)
AWS CLI Version: (aws-cli/1.11.13 Python/3.5.2 Linux/4.4.0-1043-aws botocore/1.4.70
)
Hello
I implemented this and is working fine for me, if i have n more of instances, How to handle such situations

I used the CF template .
i created a new ec2 instance but users where not there, do i need to install the script in each instances?

[2018-01-17 11:03] mliner commented on #72
Hi @michaelwittig,
it seems that this issue still persists in the rpm where after installation /etc/ssh/sshd_config does not include these lines:
`AuthorizedKeysCommand /usr/bin/authorized_keys_command.sh
AuthorizedKeysCommandUser nobody`

Would it be possible to check? I've also tried newer version (1.5 and 1.6) and still the same issue. Trying to apply it on ubuntu 14.04 LTS.

Thanks in advance!

[2018-01-17 15:55] michaelwittig commented on #111
Hi @packetfairy thanks for reporting this and sorry for the troubles this has caused to you.

would:

[code]

also do the trick?

[2018-01-17 15:56] michaelwittig commented on #112
we have a config `USERADD_ARGS`, so I suggest we just add something called `USERDEL_ARGS`?

[2018-01-17 15:58] michaelwittig commented on #113
Hi @subinmath there are two supported ways of installing the solution as documented here: https://github.com/widdix/aws-ec2-ssh#how-to-integrate-this-system-into-your-environment

yes, you have to install this on each EC2 instance. There are many ways to achieve this:
1) create your own AMI
2) use chef / puppet / ansible
3) Use AWS SSM
4) ...

[2018-01-17 16:03] michaelwittig commented on #106
@sohel2020any news on this issue?

[2018-01-17 16:03] michaelwittig commented on #108
@mclounie any news in this issue?

[2018-01-17 16:16] michaelwittig opened #115 "RPM install differs from install.sh"
RPM runs a `%post` and `%postun` step that differs from what happens inside `install.sh`.

- [x] use same scripts as during install.sh
- [x] test RPM installation on all supported OS

[2018-01-17 16:17] michaelwittig commented on #72
@mliner I created #115 for this

[2018-01-17 16:19] mliner commented on #115
@michaelwittig perfect,
thanks for the quick response ;-)

[2018-01-17 16:26] packetfairy commented on #111
Yeah, that's much cleaner, thanks. :)

[2018-01-17 16:32] #111 closed

[2018-01-17 18:04] mclounie commented on #108
I meant to imply resolution in that last comment apologies.

As i understand it, with this program the user still needs to ssh with the ' -i ' flag followed by the key-pair that was uploaded to IAM, and added as a trusted public key (via your program) to the server itself.

At first glance I thought that your program could allow a user to ssh into an instance *without* a keypair. For instance, ssh

[2018-01-18 07:32] kisst commented on #46
As per the linked PR above I suggest to speed up the login of the users out of the scope of the sync, to establish which user is from IAM, and which one is not, the sync script already use groups, namely `iam-synced-users` .
My suggestion as per the PR is ( https://github.com/widdix/aws-ec2-ssh/pull/114 )  check  the group membership, and if the user is not a member of this group just fall fast.
I

[2018-01-18 13:34] michaelwittig commented on #108
you can configure the default location of your key. in this case, you don't have to specify the `-i` flag. But you always need a key to login with this solution.

[2018-01-18 14:13] michaelwittig commented on #97
We have a very limited uninstall in the RPM. It runs:
[code]

As I can see, you also revert the sshd_config and you use the improved sshd restart that works cross OS. You also revert the changes to SELinux.

Should we delete all the users by default, or only delete them when a specific flag is used?

[2018-01-18 14:45] aaronlippold opened #116 "Has anyone approached Amazon about moving this into AWS directly?"
Action/Feature Request

[2018-01-19 04:17] subinmath commented on #113
@michaelwittig
Thank you for the support and this script has been great help.

[2018-01-19 08:42] #113 closed

[2018-01-19 13:59] KusabiSensei commented on #97
By default, the users don't have assigned passwords when they are created (because the goal is to use key authentication), so if you leave them there, you'd have to put some other authentication method in place if you wanted to access them.

I suspect that it would depend upon what it is felt 'owned' the users, as objects in the system. If they are owned by IAM, even as local users on the system,

[2018-01-19 14:56] KusabiSensei commented on #46
The only place I see the fast fail PR, well, failing, is where the users are being created by something other than the bundled `import_users.sh` script, but where the `authorized_keys_command.sh` script is being used to fetch the public key from IAM. The fast fail logic seems to have as an assumption that the marker group is guaranteed to be attached to users, which may not necessarily be true in

[2018-01-20 10:04] uberbrady commented on #46
I don't feel _too_ strongly, about sticking with just creation date, but I think I can lay out my arguments at least -

1) We can have a nice error when we see a collision - with a simple solution "Delete one of these two users and recreate them." I guess you could have a similar one for collisions for hash'ed ARN's - but there the message would be "come up with a different name for one of these t

[2018-01-20 10:47] uberbrady commented on #46
Here's a little PHP script I whipped up to help play with some of these numbers - feel free to give it a whirl.

[code]

[2018-01-20 14:11] KusabiSensei commented on #112
That's a trivial addition in my uninstall shell script that's on my fork.
https://github.com/KusabiSensei/aws-ec2-ssh/blob/feature/uninstall/uninstall.sh

I'm not sure what the best way to control that for packaged installations (rpm and deb) are.

[2018-01-20 17:10] mclounie commented on #108
Ok I thought so thanks.

[2018-01-20 17:10] #108 closed

[2018-01-23 15:56] michaelwittig commented on #116
no. But I guess the limitations are too sever: https://github.com/widdix/aws-ec2-ssh#limitations

You can use SSM RunCommand to achieve similar things without the need of SSH at all

[2018-01-31 05:49] vmendoza opened #117 "RPM on Centos 7.4 broken: Ec2 Permission denied"
Operating System: Centos 7.4
AWS CLI Version: aws-cli/1.14.30 Python/2.7.5 Linux/3.10.0-693.11.6.el7.x86_64 botocore/1.8.34

SSHD AthorizedKeyCommand does not work, the response is always permission denied.

The key has been uploaded to IAM and I've used ssh-add to add the key to the agent.

What I tried:
- running under "sudo -su nobody"  "/usr/bin/authorized_keys_command.sh user" works. The righ

[2018-01-31 06:57] michaelwittig commented on #117
Hi @vmendoza

1. Which installation method have you used?
2. What error do you get? Please copy and paste the message

[2018-01-31 15:42] vmendoza commented on #117
I used the RPM method to install.

- It looks like Centos / RHEL 7.4 works differently than other versions
- I have Cybereason for intrusion protection that might be blocking this but I doubt it.

[2018-01-31 21:26] michaelwittig commented on #117
The RPM only works on Amazon Linux at the moment. This is work in progress and will change soon.

[2018-02-05 18:17] michaelwittig commented on #117
duplicate of #115

[2018-02-05 18:17] #117 closed

[2018-02-05 18:19] #115 closed

[2018-02-07 11:49] michaelwittig commented on #117
@vmendoza can you try the new RPM: https://s3-eu-west-1.amazonaws.com/widdix-aws-ec2-ssh-releases-eu-west-1/aws-ec2-ssh-1.7.0-1.el7.centos.noarch.rpm

[2018-02-07 11:50] michaelwittig commented on #72
@mliner you can test with the nw RPM: https://s3-eu-west-1.amazonaws.com/widdix-aws-ec2-ssh-releases-eu-west-1/aws-ec2-ssh-1.7.0-1.el7.centos.noarch.rpm

Btw: Do you use rpms on Ubuntu?

[2018-02-07 17:14] ldormoy opened #118 "Document rpm build process"
Metadata:
* Operating System: Ubuntu 16.04
* Installation method: RPM
* AWS CLI Version: aws-cli/1.14.34 Python/2.7.12 Linux/4.4.0-1050-aws botocore/1.8.38
(describe your issue here)

I would like to build my own rpm package from the sources (to avoid modifying the config after installation), but I get this error:
`error: Unable to open install_configure_sshd.sh: No such file or directory`

Could

[2018-02-07 17:31] dgouldin opened #119 "RPM Checksum"
Can you publish checksums along with your RPM releases? I'd like some way to validate that the RPM I've downloaded is legitimate.

[2018-02-07 17:53] ldormoy commented on #118
I found the rpmbuild command line in https://github.com/widdix/aws-ec2-ssh/issues/104
It's helpful, I'll give it a try

[2018-02-07 18:34] michaelwittig commented on #118
in the rpmspec, you will find a few lines starting with `%include`
make sure to replace those placeholders with the contents of the files.

After that, use the command from #104

[2018-02-07 18:38] michaelwittig commented on #119
Hi @dgouldin do you have any ideas how this usually works with rpms? I assume some kind of md5 hash is stored in a separate file but there is likely a standard that we can reuse for rpms?

[2018-02-07 20:41] dgouldin commented on #119
I know RPMs do have a verification process, but I'm not sure what the internals look like. Just publishing an md5 hash on the release page or in a file in the same s3 bucket is probably good enough. This is basically what pypi does for python packages (example: https://pypi.python.org/pypi/cryptography/2.1.4 ). If you want to go the extra mile, the way the node.js community signs their shasum file

[2018-02-07 22:26] ldormoy commented on #118
replacing the placeholders with the content of the files also doesn't work as intended, as some variables like SSHD_CONFIG_FILE are not defined.

Anyway, I can now build and will adapt the post-install step to my needs. Thanks for your quick support @michaelwittig .

I will spend some time testing alternative build methods (I also need a debian package), probably using fpm and will give you some f

[2018-02-07 22:26] #118 closed

[2018-02-07 22:49] ldormoy commented on #119
While researching about rpm package building, I stumbled upon this stack overflow answer:
https://stackoverflow.com/a/48239563

It describes a bit the checksum process for rpm. Hope that helps.

[2018-02-08 18:08] michaelwittig commented on #118
yes, you are right. the variables are also replaced. the solution is not very clean. the goal was to not have duplication in install.sh and the RPM. so I ended up with this hack..

regarding the deb package you can have a look at #109

[2018-02-08 20:20] ldormoy commented on #118
How could I miss #109! I tested it and it works fine. I also like the pkg/ directory to regroup postinst and postrm scripts.

BTW I tested fpm to build the rpm package, it works fine. You just have to replace the "-t deb" by "-t rpm". I will definitely use it to build both package types with jenkins. You could maybe reuse the pkg/ scripts in install.sh, to get rid of the code duplication?

[2018-02-09 10:27] michaelwittig commented on #119
@ldormoy I believe we have two kinds of checksums here. the stackoverflow discussion is about the checksum of the "source file" that is downloaded when the RPM is created. In our case, we download the zipped repo from GitHub.

@dgouldin is asking about a way to verify that the RPM that you download is the one that I published. it seems that RPMs come with a checksum and can be signed: https://acce

[2018-03-28 23:50] russellatuniondashpos commented on #46
the keymaker project attempts to solve this issue by grabbing the UserId from IAM and converting it to an int..
https://github.com/kislyuk/keymaker/blob/master/keymaker/__init__.py#L159
this seems to work reasonably well on a small set of users

[2018-04-08 19:35] laurikimmel opened #121 "Missing newline broke sshd_config"
Metadata:
* Operating System: Debian 9.4 and 8.10
* Installation method: install.sh script
* AWS CLI Version: aws-cli/1.11.13 Python/3.5.3 Linux/4.9.0-6-amd64 botocore/1.4.70

Installation script broke ```sshd_config``` and service refused to start.
Installation script appended two new config statments to the ```/etc/ssh/sshd_config```.
Apparently original config file was missing new line at the e

[2018-04-08 21:32] laurikimmel opened #122 "Add dependency check to install scrip"
Metadata:
* Operating System: Debian 8.10
* Installation method: install.sh script
* AWS CLI Version: not sure any more, less than 1.15.2

I was not able to login over SSH with existing IAM user account. Troubleshooting revealed
[code]
in ```authorized_keys_command.sh``` was returning error since outdated version of ```awscli```.

Upgrading ```awscli``` to lates available (1.15.2) fixed the issue.

[2018-04-12 15:59] kadigergo opened #123 "Cronjob should send a mail only in case of a problem"
Metadata:
* Operating System: CentOS
* Installation method: install.sh
* AWS CLI Version: 1.14.27

I get email every 10 minutes from cron as the output of which aws is printed to the standard output.

after replacing:
if ! which aws; then
with:
if ! [ -x "$(which aws)" ]; then

cronjob is silent.

[2018-04-16 08:27] kadigergo commented on #123
Yes, everything written to stdout or stderr is sent to invoking user as a mail. So in case there is problem we should not write anything, but if there is an issue we should so it generates an email.

[2018-04-16 09:27] laurikimmel commented on #121
I was aware about Debian not listed in supported OS list when I started.

OTOH missing newline at the end of file is not depending on the specific distro. By mistake or not - user might remove it, some script might remove it etc. To be on the safe side - it would be good to check and add one if necessary.

IMHO having a backup and uninstall script would make things bit more safe for any platform.

[2018-04-25 02:31] lucknerjb opened #124 "Typo in rpm install output text"
Metadata:
* Operating System: Amazon Linux 2
* Installation method: RPM
* AWS CLI Version: aws-cli/1.14.8

I ran `rpm -i RPM_URL_HERE` and everything installed as it should. I copied the path provided for the config file however this path contains a typo (`-ec-` vs `-ec2-`). Just a friendly heads-up :)

<img width="836" alt="screen shot 2018-04-24 at 10 29 05 pm" src="https://user-images.githubuse

[2018-05-04 12:12] kadigergo commented on #123
created PR: #127

[2018-05-07 15:27] MassimoSporchia commented on #96
Same is happening to me during an outage on IAM: https://twitter.com/gbcis/status/993502731762655232

[2018-05-07 17:29] packetfairy commented on #96
After having this code shoot us in the face on three discrete events, here are the changes I made to better protect myself:

- removed the -r from the userdel instruction, so that home directories would be left in place during an outage which resulted in users being deleted
- added extra bailouts to import_users, because, at least for our environment, YES WE CAN conclude that an empty user list me

[2018-05-07 17:33] zxlin commented on #96
@packetfairy Would you mind linking your repo? I'd love to take a look!

[2018-05-07 19:00] packetfairy commented on #96
I am managing the code as part of a larger repo, in probably a lamer way than I should be (ie: without using submodules 😝), but here's a fork with my changes incorporated: https://github.com/packetfairy/aws-ec2-ssh/tree/condoms

[2018-05-07 19:45] zxlin commented on #96
@packetfairy lol branch name. But I like this a lot actually!

Maybe the fallback logic could be enabled if some `IAM_OUTAGE_PROTECTION` flag was enabled in `aws-ec2-ssh.conf` so that organizations can choose their own fault tolerance level.

Thoughts @michaelwittig?

[2018-05-07 20:59] MassimoSporchia commented on #96
@packetfairy is it me or you are still configuring sshd to run the script to authorize logins?
Other than that, good job!
This way, users will still be able to access the instance even if IAM apis are down: the only thing that won't work is update to ssh keys.

[2018-05-07 21:34] packetfairy commented on #96
@MassimoSporchia I removed the AuthorizedKeysCommand and AuthorizedKeysCommandUser configuration options from sshd_config _on my own,_ but I _did not_ update the installation/setup scripts to fit with my changes, as I manage my sshd_config separately with ansible. (Is that what you meant?)

Because, yes, as you observe: using this code, existing users should be able to access the instance even if

[2018-05-14 11:36] #96 closed

[2018-05-14 11:38] michaelwittig commented on #96
I merged the emtpy IAM user list detection from @packetfairy (Thanks!)

The ability to configure userdel (e.g. homedir removal) is tracked here #112

The caching of local users is also discussed here #114

[2018-05-14 11:39] #124 closed

[2018-05-14 11:49] #106 closed

[2018-05-14 11:50] michaelwittig commented on #80
might related #126

[2018-05-15 06:50] #123 closed

[2018-05-15 12:05] michaelwittig commented on #122
works on aws-cli/1.11.133 Python/2.7.5 Linux/3.10.0-693.el7.x86_64 botocore/1.6.0

[2018-05-25 19:59] adamcrown opened #129 "Auth fails with AuthorizedKeysCommandUser nobody"
Metadata:
* Operating System: Amazon Linux AMI release 2017.09
* Installation method: `install.sh`
* AWS CLI Version: `aws-cli/1.14.9 Python/2.7.12 Linux/4.9.75-25.55.amzn1.x86_64 botocore/1.8.13`

I'm unable to SSH into the machine when `AuthorizedKeysCommandUser` is set to `nobody`.
I get this error in the logs:
[code]
If I change the `AuthorizedKeysCommandUser` to `root` it works fine. I haven'

[2018-06-01 10:31] michaelwittig commented on #129
How to you execute install.sh with Elastic Beanstalk?

[2018-06-12 08:07] cornevandersteen opened #130 "Error with using the ASSUMROLE configuration."
Metadata:
* Operating System: REDHAT 7.5
* Installation method: RPM
* AWS CLI Version: 1.15.36

When using the ASSUMROLE function with TAG ENABLED groups then there is a fault in reading the instance tags.

The problem is in the: import_users.sh file.

On Line 237 you are going to set the aws_credentials.

    # setup the aws credentials if needed
    setup_aws_credentials

And from line 248 you a

[2018-06-27 21:12] artburkart commented on #122
For the record, I'm able to get it to work on legacy machines with Python 2.6.6. @michaelwittig, would you be interested in receiving a PR for the version checks?

[2018-06-27 21:28] artburkart commented on #85
Oh, I wish I'd noticed this. I'm all about it. I'm happy to make a PR too, if you'd like.

[2018-07-06 14:52] michaelwittig commented on #122
@artburkart but I believe we first have to figure out the minimum version?

[2018-07-06 14:54] michaelwittig commented on #46
I'm not sure if something similar is possible in plain bash. But we could also use some python for that. Because aws cli depends on python. So we have python as a dependency already :)

[2018-07-06 14:55] michaelwittig commented on #85
I believe it would add value. Catch as many issued as possible with linting.

[2018-07-06 17:34] artburkart commented on #122
Ha, I was thinking we could just say something is the minimum until proven otherwise.

[2018-07-13 07:05] michaelwittig commented on #122
@laurikimmel in our test, we install `apt-get install git awscli` and it works. Have you used the install.sh script for installation of aws-ec2-ssh?

[2018-07-13 13:51] laurikimmel commented on #122
It works for me too in case I install ```awscli``` using ```apt-get```.

Yes - I used ```install.sh``` script.

My point is - it's easy to get to the state where ```awscli``` is not setup properly for ```aws-ec2-ssh```.

- started new instance
- cloned ```aws-ec2-ssh``` repo from GH
- executed ```aws-ec2-ssh/install.sh``` script as ```sudo```
- it failed with message about missing ```awscli``` (wh

[2018-08-06 09:18] atamgp opened #135 "Ubuntu AutoScalingGroup install.sh: Exited with error code 1"
Metadata:
* Operating System: Ubuntu 16.04.4 LTS
* Installation method: install.sh script
* AWS CLI Version: aws-cli/1.11.13 Python/3.5.2 Linux/4.4.0-1061-aws botocore/1.4.70

I am using this in combination with an autoscale group of 1 (min and max). Normal EC2 used to work, but shifting to autoscale gives an error: Exited with error code 1

It seems that it gets stuck on the last command (./insta

[2018-08-06 10:57] atamgp commented on #135
I have some more information.

When I use Sub in the command of cloudf init, the command parses ok (visible in the log), but does not work:

command: !Sub
                        - './install.sh -i ${GroupName}-access-group'
                        - Group: !Ref GroupName

This does not even parse ok:
command: !Sub './install.sh -i ${GroupName}-access-group'

Without Sub, it works.... e.g.   comma

[2018-08-06 12:57] atamgp commented on #135
Currently I have chosen for the following workaround:

UserData:
        'Fn::Base64': !Sub
          - |
              #!/bin/bash
              set -x
              exec > >(tee /var/log/user-data.log|logger -t user-data ) 2>&1
              echo BEGIN
              date '+%Y-%m-%d %H:%M:%S'
              export REGION=${AWS::Region}
              export STACKNAME=${AWS::StackName}

[2018-08-06 18:04] michaelwittig commented on #135
can you share the cloudformation template you use? at leats launchconfig, autoscalingroup and iam role

[2018-08-07 05:34] atamgp commented on #135
Sure,

1) **UserDataMap**
See here that I call install.sh explicitly because Sub within a cfn-init command is not working for me.
Also in the Log, somehow the sshd restart is not done. But I also dont see any errors...
So I also do an ssh restart.

UserDataMap:
    Ubuntu:
      # RegionMap: RegionMapUbuntu
      # See: https://github.com/awslabs/aws-cloudformation-templates/blob/master/aws/servic

[2018-08-09 10:11] DaveHewy commented on #80
+1 for this. anyone done anything with it? be good to have an option to drop everything from/inc @->

[2018-08-17 07:19] michaelwittig commented on #130
merged. Thanks @cornevandersteen

[2018-08-17 07:19] #130 closed

[2018-08-30 08:46] rajesh-dcis opened #137 "Received FAILURE signal with UniqueId"
Metadata:
* Operating System: Centos
* Installation method: (choose between RPM or install.sh script)
* AWS CLI Version: (exec `aws --version` and enter value here)

We are constantly having issues while trying create the stack with showcase.yaml. This occurs during the type "AWS::EC2::Instance".

Following is the error .

Received FAILURE signal with UniqueId i-01e6dac90b91334d2

Please advice us

[2018-08-30 09:46] michaelwittig commented on #137
can you post the instance console output as described here https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-console.html#instance-console-console-output

[2018-08-30 09:47] michaelwittig commented on #63
there hasn't been any progress for a while. feel free to reopen if that changes.

[2018-08-30 09:47] #63 closed

[2018-08-30 09:48] michaelwittig commented on #116
there hasn't been any progress for a while. feel free to reopen if that changes.

[2018-08-30 09:48] #116 closed

[2018-08-30 09:48] michaelwittig commented on #129
there hasn't been any progress for a while. feel free to reopen if that changes.

[2018-08-30 09:48] #129 closed

[2018-08-30 09:48] michaelwittig commented on #135
there hasn't been any progress for a while. feel free to reopen if that changes.

[2018-08-30 09:48] #135 closed

[2018-08-30 09:58] atamgp commented on #135
what was the result of your investigation?

[2018-08-30 10:35] rajesh-dcis commented on #137
Below is the console output.

[22;1H   The selected entry will be started automatically in 1s.                     [4;79H[22;1H   The selected entry will be started automatically in 0s.                     [4;79H[?25h[H[J[1;1H[H[J[1;1H[    0.000000] Initializing cgroup subsys cpuset
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Initializing cgroup subsys cpuacct
[    0.00

[2018-08-30 11:59] michaelwittig commented on #137
The error is here:
[code]

Can you share a screenshot of the parameters you configured for the stack? You  can drag and drop an image into the GitHub comment text to upload it.

[2018-08-30 12:12] rajesh-dcis commented on #137
@michaelwittig Do you required the complete stack file ?. I have also attached the screen shot of the parameters.
![details](https://user-images.githubusercontent.com/15102350/44850817-0daa8000-ac7c-11e8-88ad-b9a1e1f985df.png)

[2018-09-10 13:15] willfarrell opened #138 "Feature: AWS MFA"
Have an option that enables a prompt for users to enter their AWS MFA Code before gaining access to the machine. This would be ideal to enable on a bastion host.

Draft Approach:
- [x] setup IAM roles/policies/groups for `sts:AssumeRole` call
- [x] custom PAM (bash)
  - [x] Call `sts:AssumeRole` with captured token
  - [x] Return proper code to allow user onto machine
- [ ] or custom PAM (c) - htt

[2018-09-10 22:53] willfarrell commented on #138
Looks like it might: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_mfa_configure-api-require.html

[2018-09-13 00:37] willfarrell commented on #138
After much research and several attempts, I've come to the conclusion that this isn't possible at this time in a secure fashion (which is the whole point of doing it). Feels like a 3rd party OTP provider is the way to go, for now.

Both `AssumeRole` & `GetSessionToken` both need access to long term `Access keys` which the instance doesn't have. You could create and store some locally. But that ope

[2018-09-13 11:00] michaelwittig commented on #138
You might want to checkout the newly launched [AWS Systems Manager Session Manager for Shell Access to EC2 Instances](https://aws.amazon.com/de/blogs/aws/new-session-manager/)

[2018-09-13 12:29] #138 closed

[2018-09-17 12:26] SaajidMaarif opened #139 "AuthorizedKeysCommand /opt/authorized_keys_command.sh [user] failed, status 1"
Metadata:
* Operating System: Ubuntu 16.04.5 LTS
* Installation method: install.sh script
* AWS CLI Version: aws-cli/1.16.14 Python/2.7.12 Linux/4.4.0-1066-aws botocore/1.12.4

Hi,

I've followed all the instructions and also been through the troubleshooting steps in the previous issues raised but I'm unable to get this to work.

- I have attached the iam-ssh-policy to the instance. (Attached to a

[2018-10-15 22:06] bruno-barbosa commented on #139
@SaajidMaarif, getting the same error have you ever found the solution?

[2018-10-17 20:58] robertnosburn opened #141 "Install fails if sudoers_group has no members"
Metadata:
* Operating System: (Linux - AWS Linux)
* Installation method: (install.sh)
* AWS CLI Version: (exec `aws --version` and enter value here)

I added the installation of this as part of my launch configuration through Cloudformation.  In the event that the suders_group is set, through the config file, but the group has no members, the installation fails.

[2018-11-14 22:06] SaajidMaarif commented on #139
@bruno-barbosa Tried it on another ec2 instance with the same steps and it worked. So i'm not really sure what the issue was.

[2018-11-14 22:06] #139 closed

[2018-11-16 15:08] pitkley opened #142 "Amazon Linux 2 delivers their own AuthorizedKeysCommand"
Metadata:
* Operating System: Amazon Linux 2 (2018-10-31+)
* Installation method: `install.sh`
* AWS CLI Version: &ndash;

-----

The [most recent update](https://aws.amazon.com/de/amazon-linux-2/release-notes/) to Amazon Linux 2 introduces their own `AuthorizedKeysCommand` "to support an upcoming feature to read SSH public keys; from the EC2 instance metadata during the SSH connection process."

[2018-11-16 16:37] michaelwittig commented on #142
@pitkley Thanks for your detailed investigation. Not sure how to deal with this. I'm also shocked that AWS introduces changes like this into the AL 2.0 release which seems to be a breaking change :)

My current assumption is that Session Manager is a replacement of this project.

[2018-11-30 04:07] uberbrady commented on #46
https://aws.amazon.com/blogs/security/add-tags-to-manage-your-aws-iam-users-and-roles/?utm_campaign=website&utm_source=Last%20Week%20in%20AWS&utm_medium=email

It looks like you can 'tag' users now in IAM. That'd probably be a pretty good way to give them unique uid's? The only thing you have to, kinda, worry about would be making sure you can carefully number them and not have conflicting `uid`'s

[2018-12-24 14:01] mvanbaak commented on #142
To 'fix' this I put the following in my CF template:

[code]

[2018-12-27 17:59] #141 closed

[2019-01-07 16:50] michaelwittig commented on #142
fixed in version 1.9.2

[2019-01-07 16:50] #142 closed

[2019-01-07 18:22] pitkley commented on #142
Thanks for the fix, @michaelwittig! :tada:

[2019-01-15 03:02] anoora17 opened #143 "Showcase.yaml not working"
Metadata:
* Operating System: (enter aws ami/ centos 7.6 redhat)
* Installation method: (choose between RPM)
* AWS CLI Version: (exec `aws --version` and aws-cli/1.16.13)

(describe your issue here)
I used the rpm method after uploading the ssk key to the IAM and verified the correct iam permission.
and configured the /etc/aws-ec2-ssh.conf
 ASSUMEROLE='ec2 role that has the permission to get the s

[2019-01-15 16:05] ab77 opened #144 "Changes required to work under CentOS 6"
Metadata:
* Operating System: CentOS 6
* Installation method: install.sh script
* AWS CLI Version: latest

We have a legacy dependency on CentOS 6, so to make this system work under v6, the following changes are required:

* `install_configure_selinux.sh` script commented out (no NIS boolean in v6)
* `sed -i'' 's/AuthorizedKeysCommandUser/AuthorizedKeysCommandRunAs/g' /etc/ssh/sshd_config`

Tested

[2019-01-16 15:31] michaelwittig commented on #144
Have you seed #132 ?

[2019-01-16 21:18] ab77 commented on #144
I have now :)

Not quite sure why there is all that extra stuff added to `install_configure_selinux.sh`, it works just as well without it.

I would also just be doing a simple version check in `install_configure_sshd.sh` and based on the test, use either `AuthorizedKeysCommandUser` or `AuthorizedKeysCommandRunAs` directive.

Do you want me to submit this in a PR?

[2019-01-17 15:40] michaelwittig commented on #144
if you like you can create a PR. But keep in mind that I expect that this project will be replaced by AWS SSM Session Manager in the near future. AWS is working on a very similar implementation using the `AuthorizedKeysCommand`

[2019-03-13 11:20] alankis opened #145 "RHEL > 7.4 support"
Metadata:
* Operating System: RHEL 7.6
* Installation method: install.sh
* AWS CLI Version: aws-cli/1.16.122 Python/2.7.5 Linux/3.10.0-957.el7.x86_64 botocore/1.12.112

The public SSH keys aren't added to users on RHEL 7.5 and RHEL 7.6. What is the limitation? Maybe I can help with that.

[2019-03-15 12:00] michaelwittig commented on #145
The solution is only tested with 7.4. If you use it with 7.5 or 7.6 you seem to be the first one trying this. PRs are welcomed.

[2019-03-15 12:01] michaelwittig commented on #143
We do not support RHEL 7.6 is not supported as clearly stated in the README of this project.

Other people seem to have a problem as well with 7.6 #143

[2019-03-15 12:01] #143 closed

[2019-03-15 12:01] michaelwittig commented on #145
#143 seems also to try 7.6

[2019-03-18 21:33] alankis commented on #145
Let us then leave this open I will try to add support for the RHEL > 7.4.

[2019-04-23 22:19] russCompass commented on #97
I've been using these commands on ubuntu 14 when we needed to remove for testing.

`rm -f /etc/cron.d/import_users
  sed -i.bak '/^AuthorizedKeysCommand/d' /etc/ssh/sshd_config
  /etc/init.d/ssh restart
`

[2019-04-25 15:19] dgbarwell opened #146 "Implementing feature in private subnet"
I am looking to implement this where I have private instances within a VPN with no/restricted internet access. Does anyone know if there is a way to keep internet access restricted but allow the HTTPS traffic to required AWS APIs.

Since AWS do not list IAM endpoints/IP addresses specifically, I have just tried pulling the public CIDR blocks used for "AMAZON" services (https://docs.aws.amazon.com/

[2019-04-26 15:12] andreaswittig commented on #146
In general, AWS offers VPC Endpoints for such scenarios (see https://docs.aws.amazon.com/vpc/latest/userguide/vpc-endpoints.html). Unfortunately, there is no VPC endpoint available for the IAM API yet.

IP-based restrictions are not an option in my opinion. So a proxy whitelisting hostnames is probably is probably the solution that matches your requirements the best.

Have you thought about using

[2019-04-26 15:13] andreaswittig commented on #146
I'm closing this issue, as we are not offering AWS consulting via GitHub. ;)

[2019-04-26 15:13] #146 closed

[2019-04-26 15:21] dgbarwell commented on #146
Hi @andreaswittig thanks for your reply. I have looked at Session Manager but unable to use SCP so was not suitable for my needs
I have got this working via a squid proxy in the end using hostname whitelisting as you mentioned

[2019-07-30 03:19] arun6445 opened #148 "User password gets expired after 60 days on RHEL box"
Metadata:
* Operating System: (enter value here)
* Installation method: (choose between RPM or install.sh script)
* AWS CLI Version: (exec `aws --version` and enter value here)

(describe your issue here)
All the users that are synchronised with IAM user public keys, their linux password gets expired after 60 days and they are prompt to change their password. As users password have never been set

[2019-09-02 08:38] Nick-Haddock opened #149 "Using the install.sh method is missing an option for LOCAL_MARKER_GROUP"
Metadata:
* Operating System: Ubuntu 18.04
* Installation method: install.sh
* AWS CLI Version: 1.16.230

After checking the aws-ec2-ssh.conf after running the install.sh - there is no place for the LOCAL_MARKER_GROUP parameter.
I have checked the source code and have modified locally it to include this, and would be happy to create a PR if that would be helpful.
Also after extensive testing over

[2019-11-14 14:31] mluypaert opened #152 "Feature request: more flexible local group assignment"
Current local group management is limited to assigning local groups to all users through
the `LOCAL_GROUPS` config. This however does not allow select IAM groups to be assigned to certain local user groups. Also, once assigned a group, this group is currently maintain on config changes because of the fix for issue #56 implemented in commit 3150a27.

I implemented this feature in pull request #151:

[2019-12-03 16:48] peay opened #153 "Provision user's `authorized_keys` in `import_users.sh`"
I have been testing a modification to `import_users.sh` will provision that user's `.ssh/authorized_keys` file during the regular users update from IAM.

My motivation is as follows:

- Using `AuthorizedKeysCommand` is slow, as we are invoking `aws iam` multiple times, which has a startup cost and roundtrip cost. In my testing, I've observed that 3-5s login times are common, which is rather slow c

[2019-12-27 21:11] csakshaug commented on #153
@peay What about creating a PR and perhaps @michaelwittig would merge it or make some changes to it :-)

[2020-01-02 16:01] michaelwittig commented on #153
I think this could better be a separate project? Feel free to create a link in the README to point to the "cached" solution.

[2020-03-03 10:36] giantsystems opened #154 "Suspected API rate limiting issue - any workarounds?"
We're seeing some of our instances remove all the IAM local users on one 10 minute check and then recreate them on the next 10 minute check. Obviously with new UIDs so any granted permissions are lost.

We suspect we've now deployed this on so many instances, that all check on the 10 minute mark, that we're likely hitting the documented API limits and when a call for users fails, they all get remo

[2020-03-03 11:58] michaelwittig commented on #154
#96 seems to fix this issue

are you using the latest version of the scripts?

[2020-03-03 12:18] giantsystems commented on #154
Jan 2019 was the last time I updated from the repo. Looks like #96 pre-dates that so should be included. Is there a version number anywhere I can check to confirm?

[2020-03-03 21:45] lbrandel commented on #154
I'm seeing the same issue as well.  The script outputs the following and then deletes the users:
`An error occurred (Throttling) when calling the GetGroup operation (reached max retries: 4): Rate exceeded`

[2020-03-03 21:48] lbrandel commented on #154
And I did cksum against my version of the import_users.sh and the file I just pulled off the repo and they are the same.  So, the currently available version of this file has the bug in it.

[2020-03-10 14:13] artsem-makhnach opened #155 "sshd_config is not configured properly with install via RPM"
Metadata:
* Operating System: Amazon Linux AMI 2018.03
* Installation method: RPM
* AWS CLI Version: aws-cli/1.18.17 Python/2.7.16 Linux/4.14.165-103.209.amzn1.x86_64 botocore/1.15.17

When installing aws-ec2-ssh v1.9.2 via RPM - it comments out **AuthorizedKeysCommand** and **AuthorizedKeysCommandUser** properties and add one extra commented string **#AuthorizedKeysCommand none** to the end of fi

[2020-05-22 18:08] anshul0915 commented on #89
How you able to get pm download fro s3 i am getting error in my cfn can you help

[2020-06-17 22:17] zxlin opened #157 "AuthorizedKeysCommand fails on Ubuntu 20.04"
Metadata:
* Operating System: AWS Ubuntu 20.04
* Installation method: install.sh
* AWS CLI Version: (exec `aws --version` and enter value here)

On Ubuntu 20.04, `AuthorizedKeysCommand` fails, the following is from the `auth.log` output
`AuthorizedKeysCommand /usr/share/ec2-instance-connect/eic_run_authorized_keys username SHA256:ecphulTPPp7xHnSCVkuQH2fcXemYKjT8xFftheRDz+s failed, status 22`

The

[2020-06-17 22:36] zxlin commented on #157
Well, typing this out was helpful for me to think. I located a `ec2-instance-connect` package that's preinstalled on AWS Ubuntu 20.04, this package is not installed by default on 18.04. Uninstalling this package resolves this issue.

I have no idea how they're hooking into sshd to achieve this.

@michaelwittig what's the best approach here? I'm thinking:
1. Inform the user in the readme to make su

[2020-06-18 07:26] michaelwittig commented on #157
From the README:

So yes, 20.04 is not tested and likely is not going to work as expected yet.

[2020-06-18 18:41] zxlin commented on #157
@michaelwittig yeah I get that, I've tested it to be working well in 18.04 (we've been using this on 18.04 for the past 2 years) and 20.04 works after removing the `ec2-instance-connect` package as I explained above.

Would you want to expand support for newer Ubuntu distros? Seeing that you expanded support for Amazon Linux 2 to the 2018-10-31 variant in #142, I made the assumption that you would

[2020-06-22 18:26] michaelwittig commented on #157
Yeah, sure. An update to support Ubuntu 20.04 is appreciated. And you already pointed to the ticket that explains the root cause I guess :)

[2020-10-22 02:37] rdksgit opened #160 "Query: How will this work in case of a linux lightsail instance"
We have been using this with our EC2 instances and has worked really well, so thank you for that

We are looking at options to simplify our setup and Lightsail is one of the things we are looking at, i know when we create a EC2 instance we can attach IAM role to the instance, but in case of AWS Lightsail we dont have that option, so whats the best way to achieve this ?

Thanks
Sameer

[2020-10-27 20:18] timwelch opened #161 "When using FIM monitoring on /etc there's a slew of updates always to groups and passwd and shadow"
Metadata:
* amazon linux2 and ubuntu 18/20
* git clone from master
* AWS CLI Version: 2

When using a FIM (file integrity monitoring) tool like TrendMicro, which scans OS paths like /etc for file changes for security, every time import_users.sh runs, it will always update the groups the users are in. Regardless of if they are in the group already. This causes tons of FIM alerts to be generated and

[2021-03-29 17:26] bedge opened #162 "Alternative to import_users.sh for EC2 Instance Connect?"
This package now references "EC2 Instance Connect" as a replacement: https://aws.amazon.com/blogs/compute/new-using-amazon-ec2-instance-connect-for-ssh-access-to-your-ec2-instances/

However there's one component I don't see in 'EC2 Instance Connect` - the bulk import of IAM users into local users onto the AWS linux instance.

Is there some other mechanism that is intended to handle that function?

[2021-03-30 07:20] michaelwittig commented on #162
Hi @bedge
You are right. EC2 Instance Connect does not create local users for you. Feel free to continue to use this project if you need this capability.

[2021-03-30 07:20] #162 closed

[2021-03-30 18:20] bedge commented on #162
@michaelwittig One more follow up if I may.
Given that EC2 Instance Connect also requires that users exist in IAM, it seems plausible that one could port the import_users.sh script from this package to fill in the missing piece.
From what I can tell you can't install both as they each need to control the sshd_config settings for `AuthorizedKeysCommand`

We have a mandate to rotate all ssh keys, so

[2021-04-13 20:40] jerm commented on #157
re: "I have no idea how they're hooking into sshd to achieve this."

Because why on earth would systemd put all service configs in the same place?

One might think that `/etc/systemd/ssytem/sshd.service` would be where you'd find out about what sshd is meant to do (I did), but looking more carefully that file is merely a link to `/lib/systemd/system/ssh.service`, where there _also_ exists `/lib/sy

[2021-07-06 12:00] ArtemChekunov commented on #157
`apt-get remove ec2-instance-connect` fixed the issue for me

[2021-07-06 13:16] ArtemChekunov commented on #157
Hi @zxlin,

It is happening because  package `ec2-instance-connect` install this file
[code]

So, your sshd settings were overwritten

[2021-10-05 14:30] bantonj opened #163 "1487 Segmentation fault /bin/chown -R "${username}:${username}" "$(eval echo ~$username)""
Metadata:
* Operating System: Amazon Linux 2 (`cpe:2.3:o:amazon:amazon_linux:2`) :: (`Linux 5.4.68-34.125.amzn2.aarch64`)
* Installation method: rpm
* AWS CLI Version: `aws-cli/1.18.147 Python/2.7.18 Linux/5.4.68-34.125.amzn2.aarch64 botocore/1.18.6`

We use this script to add users to our machines while building amis with Packer. We have been getting intermittent segmentation faults with the erro

[2021-10-05 14:39] michaelwittig commented on #163
quick question: Has this ever worked on ARM?

[2021-10-05 14:43] bantonj commented on #163
It had been working 100% of the time on arm for the past 9 months, but now this error intermittently occurs.

[2021-10-13 07:41] #163 closed, assigned to nobody